<!DOCTYPE html>
<html lang="pt-PT">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre nós | Revisa Master</title>
    <link rel="icon" href="./static/images/logo.avif" type="image/png" />
    <link rel="stylesheet" href="./static/styles/styles-header.css" />
    <link rel="stylesheet" href="./static/styles/styles-about.css" />
    <link rel="stylesheet" href="./static/styles/styles-footer.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>


    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WGTC3L3V');
    </script>
    <!-- End Google Tag Manager --> 

  </head>
  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGTC3L3V"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header class="cabecalho">
      <nav class="cabecalho__nav" aria-label="Navegação principal">            
          <div class="cabecalho__nav__logo">
              <img src="./static/images/logo_rm.avif" alt="Logo da empresa">
          </div>
              
          <ul class="cabecalho__nav__links">
              <li><a href="{{ url_for('index') }}">Página inicial</a></li>
              <li><a href="{{ url_for('services') }}">Nossos serviços</a></li>
              <li><a class="active" href="{{ url_for('about') }}">Sobre nós</a></li>
              <li><a href="{{ url_for('faq') }}">Dúvidas</a></li>
              <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
          </ul>
              
          <div class="cabecalho__nav__cta">
              <a href="https://wa.me/351920775919?text=Oi!%20Estou%20a%20entrar%20em%20contacto%20pelo%20site%20da%20Revisa%20Master"
               target="_blank" class="cta__button">Fale connosco agora</a>
          </div>    
                  
          <!-- Menu Dropdown para Mobile -->
          <div class="cabecalho__nav__dropdown">
              <button class="dropdown__toggle" aria-expanded="false" aria-controls="dropdown__menu">☰</button>
              <ul id="dropdown__menu" class="dropdown__menu">
                  <li><a href="{{ url_for('index') }}">Página inicial</a></li>
                  <li><a href="{{ url_for('services') }}">Nossos serviços</a></li>
                  <li><a class="active" href="{{ url_for('about') }}">Sobre nós</a></li>
                  <li><a href="{{ url_for('faq') }}">Dúvidas</a></li>
                  <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
              </ul>
          </div>
      </nav>
    </header>

    <main>
      <a 
      href="https://wa.me/351920775919?text=Oi!%20Estou%20a%20entrar%20em%20contacto%20pelo%20site%20da%20Revisa%20Master" 
      class="whatsapp-fixo whatsapp__button__animation" 
      target="_blank">
      <i class="fab fa-whatsapp"></i>
      </a> 
      <section class="hero-section-about">
        <video class="hero-section-about__video" autoplay loop muted>
          <source src="./static/videos/video-about.mp4" type="video/mp4" />
        </video>

        <div class="hero-section-about__content">
          <h1>Sobre a <br> Revisa Master</h1>
        </div>
      </section>


      <section class="content-about-container">
      <div class="content-about enter_to_left">
        <h1>HISTÓRIA</h1>
        <p>
            A Revisa Master é uma <strong>empresa de apoio académico</strong> que atua desde a fundação da sua idealizadora, 
            <strong>Gabriela Verruck de Moraes</strong>, ainda durante a sua jornada académica na Universidade de São Paulo (USP) em 2016 
        </p>
        <p>
            <strong>Doutora em Ciências pelo IO-USP</strong>, Gabriela conciliava a investigação com os primeiros serviços de 
            orientação e revisão académica. O seu compromisso com a qualidade e o impacto do seu trabalho rapidamente atraiu uma crescente procura, o que levou à <strong>criação da Revisa Master</strong>.
        </p>
        <p>
            Desde a sua fundação, a Revisa Master tem-se consolidado como uma <strong>referência no apoio a estudantes</strong> em diversas áreas do conhecimento. 
            O que começou como um projeto pessoal transformou-se numa empresa que hoje é sinónimo de excelência.
        </p>
        <p>
            Atualmente, a Revisa Master conta com uma <strong>equipa altamente qualificada</strong>, composta por <strong>sete profissionais</strong> formados em universidades de renome, como a USP e outras instituições de destaque. A nossa equipa é especializada em 
            diferentes áreas do conhecimento, garantindo um <strong>atendimento personalizado</strong> e eficaz para cada tipo de demanda académica.
        </p>
        <p>É por isso que a Revisa Master continua a crescer.</p>
        <p><strong>Cada cliente é único.</strong></p>
        <p><strong>Cada trajetória é uma história e agora, você faz parte da nossa.</strong></p>
        <p><strong>Seja bem-vindo(a) à nossa história.</strong></p>
      </div>

      <div class="content-about enter_to_right">
        <h1>MISSÃO</h1>
        <P>
            Apoiar estudantes e investigadores na sua jornada académica, redefinindo a relação com o 
            trabalho para possibilitar a realização de conquistas.
        </P>
      </div>
      
      <div class="content-about enter_to_left">
        <h1>VISÃO</h1>

        <P>
            Estabelecer-se como uma autoridade global reconhecida em orientação e investigação académica, 
            co-construindo a trajetória de investigadores de alto impacto em diversas áreas do saber.
        </P>
      </div>
      
      <div class="content-about enter_to_right">
        <h1>VALORES</h1>

        <ul >
          <li><strong>Somos incansáveis pela excelência</strong> → Buscamos sempre o melhor, sem atalhos ou desculpas.</li>
          <li><strong>Transformamos desafios em conquistas</strong> → Onde outros falham, encontramos soluções inovadoras.</li>
          <li><strong>Acreditamos no impacto real</strong> → Mais do que um serviço, queremos mudar o futuro académico com propósito.</li>
          <li><strong>Respeito e confiança são inegociáveis</strong> → Valorizamos cada cliente, garantindo transparência e confidencialidade.</li>
          <li><strong>Quebramos barreiras com inovação</strong> → Estamos sempre um passo à frente, criando novas possibilidades para a aprendizagem. </li>
          <li><strong>Desafiamos o meio académico</strong> → Nós reinventamos a forma de apoiar estudantes e profissionais.</li>
        </ul>
      </div>
      <div class="content-about-container__button button__effect_tag">
        <a href="https://wa.me/351920775919?text=Oi!%20Estou%20a%20entrar%20em%20contacto%20pelo%20site%20da%20Revisa%20Master"
         class="cta__button">Fale connosco</a>
      </div>
    </section>
    </main>

    <footer>
      <!-- Menu de navegação do rodapé -->
      <nav class="footer-menu" aria-label="Menu do rodapé">
        <ul>
          <li><a href="{{ url_for('index') }}">Página inicial</a></li>
          <li><a href="{{ url_for('services') }}">Nossos serviços</a></li>
          <li><a class="active" href="{{ url_for('about') }}">Sobre nós</a></li>
          <li><a href="{{ url_for('faq') }}">Dúvidas frequentes</a></li>
          <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
          <li><a href="{{ url_for('privacy') }}">Política de Privacidade</a></li>
        </ul>
      </nav>
    
      <!-- Informações de contacto -->
      <div class="footer-contact" aria-label="Informações de contacto">
        <div class="social-media">
          <a href="https://wa.me/351920775919?text=Oi!%20Estou%20a%20entrar%20em%20contacto%20pelo%20site%20da%20Revisa%20Master"
           target="_blank" aria-label="WhatsApp">
            <img src="./static/images/social-media/logo_whatsapp.avif" alt="WhatsApp da Revisa Master" />
          </a>
          <a href="https://www.instagram.com/revisa.master/" aria-label="Instagram">
            <img src="./static/images/social-media/logo_instagram.avif" alt="Instagram da Revisa Master" />
          </a>
          <a href="https://www.linkedin.com/in/gabriela-verruck-de-moraes/" aria-label="LinkedIn">
            <img src="./static/images/social-media/logo_linkedin.avif" alt="LinkedIn da Revisa Master" />
          </a>
        </div>
        <p><strong>WhatsApp:</strong> <a href="https://wa.me/351920775919?text=Oi!%20Estou%20a%20entrar%20em%20contacto%20pelo%20site%20da%20Revisa%20Master"
           target="_blank" aria-label="Enviar mensagem no WhatsApp">+351 920 775 919</a></p>
        <p>
          Email de contacto:
          <br>
          <strong><a href="mailto:contacto@revisamaster.pt" aria-label="Enviar email para Revisa Master">contacto@revisamaster.pt</a></strong>
        </p>
      </div>
    
      <!-- Logo e informações da empresa -->
      <div class="footer-logo" aria-label="Informações da empresa">
        <h3>Revisa Master</h3>
        <img src="./static/images/logo.avif" alt="Logo da Revisa Master" />
      </div>

      <!-- Logo e informações da empresa - versão mobile -->
      <div class="footer-logo-mobile" aria-label="Informações da empresa">
          <div>
              <img src="./static/images/logo.avif" alt="Logo da Revisa Master" />
              <h3>Revisa Master</h3>
          </div>
        </div>
    </footer>
  </body>
  <script src="./static/scripts/scripts-about.js"></script>
  <script src="./static/scripts/menu-toggle.js"></script>
</html>
