<!DOCTYPE html>
<html lang="pt-PT">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre nós | Revisa Master</title>
    <link rel="icon" href="./static/images/logo.avif" type="image/png" />
    <link rel="stylesheet" href="./static/styles/styles-header.css" />
    <link rel="stylesheet" href="./static/styles/styles-about.css" />
    <link rel="stylesheet" href="./static/styles/styles-footer.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
  </head>
  <body>
    <header class="cabecalho">
      <nav class="cabecalho__nav" aria-label="Navegação principal">            
          <div class="cabecalho__nav__logo">
              <img src="./static/images/logo_rm.avif" alt="Logo da empresa">
          </div>
              
          <ul class="cabecalho__nav__links">
              <li><a href="{{ url_for('index') }}">Página inicial</a></li>
              <li><a href="{{ url_for('services') }}">Nossos serviços</a></li>
              <li><a class="active" href="{{ url_for('about') }}">Sobre nós</a></li>
              <li><a href="{{ url_for('faq') }}">Dúvidas</a></li>
              <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
          </ul>
              
          <div class="cabecalho__nav__cta">
              <a href="http://wa.me/5519995392568" target="_blank" class="cta__button">Fale connosco agora</a>
          </div>    
                  
          <!-- Menu Dropdown para Mobile -->
          <div class="cabecalho__nav__dropdown">
              <button class="dropdown__toggle" aria-expanded="false" aria-controls="dropdown__menu">☰</button>
              <ul id="dropdown__menu" class="dropdown__menu">
                  <li><a href="{{ url_for('index') }}">Página inicial</a></li>
                  <li><a href="{{ url_for('services') }}">Nossos serviços</a></li>
                  <li><a class="active" href="{{ url_for('about') }}">Sobre nós</a></li>
                  <li><a href="{{ url_for('faq') }}">Dúvidas</a></li>
                  <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
              </ul>
          </div>
      </nav>
    </header>

    <main>
      <a 
      href="http://wa.me/5519995392568" 
      class="whatsapp-fixo whatsapp__button__animation" 
      target="_blank">
      <i class="fab fa-whatsapp"></i>
      </a> 
      <section class="hero-section-about">
        <video class="hero-section-about__video" autoplay loop muted>
          <source src="./static/videos/video-about.mp4" type="video/mp4" />
        </video>

        <div class="hero-section-about__content">
          <h1>Sobre a <br> Revisa Master</h1>
        </div>
      </section>


      <section class="content-about-container">
      <div class="content-about enter_to_left">
        <h1>Missão</h1>
        <p>
          Desafiar os padrões, oferecendo suporte personalizado, inovador e de excelência.
          Procuramos não apenas aperfeiçoar trabalhos académicos, mas redefinir a forma como estudantes 
          e investigadores alcançam as suas conquistas.
        </p>
      </div>

      <div class="content-about enter_to_right">
        <h1>Visão</h1>
        <p>
          Estabelecer-se como uma autoridade reconhecida em investigação académica, moldando o futuro 
          da educação através de metodologias inovadoras e impacto global.
        </p>
      </div>
      
      <div class="content-about enter_to_left">
        <h1>Valores</h1>
        <ul >
          <li><strong>Desafiamos o meio académico</strong> → Reinventamos a forma de apoiar estudantes e profissionais.</li>
          <li><strong>Transformamos desafios em conquistas</strong> → Onde outros falham, encontramos soluções inovadoras.</li>
          <li><strong>Somos incansáveis pela excelência</strong> → Procuramos sempre o melhor, sem atalhos ou desculpas.</li>
          <li><strong>Quebramos barreiras com inovação</strong> → Estamos sempre um passo à frente, criando novas possibilidades para a aprendizagem.</li>
          <li><strong>Respeito e confiança são inegociáveis</strong> → Valorizamos cada cliente, garantindo transparência e confidencialidade.</li>
          <li><strong>Acreditamos no impacto real</strong> → Mais do que um serviço, queremos mudar o futuro académico com propósito.</li>
        </ul>
      </div>
      
      <div class="content-about enter_to_right">
        <h1>História</h1>
        <p>
          A nossa história começou quando <strong> Gabriela Verruck de Moraes</strong>, 
          então estudante na USP, se apaixonou pela arte de transformar ideias em textos claros e impactantes.
        </p>
        <p>
          <strong>Licenciada em Biologia e doutorada em Ciências pelo IO-USP</strong>, Gabriela começou a oferecer 
          os seus serviços de orientação e revisão académica ainda nos corredores da universidade.
        </p>
        <p>
          Com o tempo, a sua dedicação e talento fizeram a procura crescer, e assim nasceu a <strong>Revisa Master</strong>, 
          uma empresa que hoje é sinónimo de excelência no apoio a trabalhos académicos.
        </p>
        <p>
          <strong>Sê bem-vindo(a) à nossa história.</strong>         
        </p>
      </div>
      <div class="content-about-container__button button__effect_tag">
        <a href="http://wa.me/5519995392568" class="cta__button">Fale connosco</a>
      </div>
    </section>
    </main>

    <footer>
      <!-- Menu de navegação do rodapé -->
      <nav class="footer-menu" aria-label="Menu do rodapé">
        <ul>
          <li><a href="{{ url_for('index') }}">Página inicial</a></li>
          <li><a href="{{ url_for('services') }}">Nossos serviços</a></li>
          <li><a class="active" href="{{ url_for('about') }}">Sobre nós</a></li>
          <li><a href="{{ url_for('faq') }}">Dúvidas frequentes</a></li>
          <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
          <li><a href="{{ url_for('privacy') }}">Política de Privacidade</a></li>
        </ul>
      </nav>
    
      <!-- Informações de contacto -->
      <div class="footer-contact" aria-label="Informações de contacto">
        <div class="social-media">
          <a href="http://wa.me/5519995392568" target="_blank" aria-label="WhatsApp">
            <img src="./static/images/social-media/logo_whatsapp.avif" alt="WhatsApp da Revisa Master" />
          </a>
          <a href="https://www.instagram.com/revisa.master/" aria-label="Instagram">
            <img src="./static/images/social-media/logo_instagram.avif" alt="Instagram da Revisa Master" />
          </a>
          <a href="https://www.linkedin.com/in/gabriela-verruck-de-moraes/" aria-label="LinkedIn">
            <img src="./static/images/social-media/logo_linkedin.avif" alt="LinkedIn da Revisa Master" />
          </a>
        </div>
        <p><strong>WhatsApp:</strong> <a href="http://wa.me/5519995392568" target="_blank" aria-label="Enviar mensagem no WhatsApp">(19) 99539-2568</a></p>
        <p>
          Email de contacto:
          <br>
          <strong><a href="mailto:a.revisamaster@gmail.com" aria-label="Enviar email para Revisa Master">a.revisamaster@gmail.com</a></strong>
        </p>
      </div>
    
      <!-- Logo e informações da empresa -->
      <div class="footer-logo" aria-label="Informações da empresa">
        <h3>Revisa Master</h3>
        <img src="./static/images/logo.avif" alt="Logo da Revisa Master" />
        <p>CNPJ: 48.693.442/0001-97</p>
      </div>

      <!-- Logo e informações da empresa - versão mobile -->
      <div class="footer-logo-mobile" aria-label="Informações da empresa">
          <p>CNPJ: 48.693.442/0001-97</p>
          <div>
              <img src="./static/images/logo.avif" alt="Logo da Revisa Master" />
              <h3>Revisa Master</h3>
          </div>
        </div>
    </footer>
  </body>
  <script src="./static/scripts/scripts-about.js"></script>
  <script src="./static/scripts/menu-toggle.js"></script>
</html>
