<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles/styles-header.css">
    <title>Document</title>
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho__nav">            
            <div class="cabecalho__nav__logo">
                <img src="./static/images/logo_rm.avif" alt="Logo da empresa">
            </div>
                
            <div class="cabecalho__nav__links">
                <li><a href="/index">Página inicial</a></li>
                <li><a href="/services">Nossos serviços</a></li>
                <li><a href="/about">Sobre nós</a></li>
                <li><a href="/faq">Dúvidas</a></li>
                <li><a href="/contato">Contato</a></li>
            </div>
                
            <div class="cabecalho__nav__button">
                <a href="http://wa.me/5519995392568">Fale conosco</a>
            </div>    
                    
        </nav>
            
        <ul class="cabecalho__nav__dropdown">
          <button>☰</button>
          <li class="content">
            <a href="/index">Página inicial</a>
            <a href="/services">Nossos serviços</a>
            <a href="/about">Sobre nós</a>
            <a href="/faq">Dúvidas</a>
            <a href="/contato">Contato</a>
          </li>
        </ul>
      </header>
</body>
</html>