<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./static/images/logo.avif" type="image/png">
    <link rel="stylesheet" href="./static/styles/styles-header.css">
    <link rel="stylesheet" href="./static/styles/styles-contacto.css">
    <link rel="stylesheet" href="./static/styles/footer.css">
    <title>Document</title>
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho__nav" aria-label="Navegação principal">            
            <div class="cabecalho__nav__logo">
                <img src="./static/images/logo_rm.avif" alt="Logo da empresa">
            </div>
                
            <ul class="cabecalho__nav__links">
                <li><a href="/index">Página inicial</a></li>
                <li><a href="/services">Nossos serviços</a></li>
                <li><a href="/about">Sobre nós</a></li>
                <li><a href="/faq">Dúvidas</a></li>
                <li><a class="active" href="/contacto">Contacto</a></li>
            </ul>
                
            <div class="cabecalho__nav__cta">
                <a href="http://wa.me/5519995392568" class="cta__button">Fale connosco agora</a>
            </div>    
                    
            <!-- Menu Dropdown para Mobile -->
            <div class="cabecalho__nav__dropdown">
                <button class="dropdown__toggle" aria-expanded="false" aria-controls="dropdown__menu">☰</button>
                <ul id="dropdown__menu" class="dropdown__menu">
                    <li><a href="/index">Página inicial</a></li>
                    <li><a href="/services">Nossos serviços</a></li>
                    <li><a href="/about">Sobre nós</a></li>
                    <li><a href="/faq">Dúvidas</a></li>
                    <li><a class="active" href="/contacto">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Aqui inserimos as mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- Fim das mensagens flash -->
    <main>
        <div class="hero-section-contact">
            <div class="hero-section-contact__img">
                <img src="./static/images/img-contact.jpg" alt="black woman working on a laptop">
            </div>
            <div class="hero-section-about__content"><h1>Contacto</h1></div>
        </div>
        
        <form action="/enviar_email" method="POST">
            <div class="contact-form">    
                <div class="contact-form__container-1">    
                    <input type="text" name="nome" placeholder="Nome ">  
                    <input type="email" name="email" placeholder="Email">
                </div>
                
                <div class="contact-form__container-2">
                    <select name="servico" id="servico">
                        <option value="" disabled selected>Selecione um serviço</option>
                        <option value="Apresentaces">Aprentações visuais</option>
                        <option value="Formatacao">Formatação e Revisão</option>
                        <option value="melhoria-textual">Melhoria textual</option>
                        <option value="traducao">Tradução</option>
                        <option value="correcao-plagio">Correção de plágio</option>
                        <option value="analise-textual">Análise textual</option>
                    </select>
                    <input type="number" name="paginas" placeholder="Número de páginas">
                    <input type="date" name="prazo" placeholder="Prazo">
                </div>
                
                <div class="contact-form__mensagem">
                    <textarea name="mensagem" id="mensagem" cols="70" rows="10" placeholder="Mensagem"></textarea>
                </div>
                
                <div class="contact-form__button">
                    <button type="submit">Enviar</button>
                </div>
            </div>
        </form>
    
    </main>

    <footer>
    <!-- Menu do rodapé -->
        <div class="footer-menu">
        <ul>
            <li><a href="index.html" aria-label="Página inicial">Página inicial</a></li>
            <li><a href="services.html" aria-label="Nossos serviços">Nossos serviços</a></li>
            <li><a href="about.html" aria-label="Sobre nós">Sobre nós</a></li>
            <li><a href="faq.html" aria-label="Dúvidas">Dúvidas</a></li>
            <li><a href="https://www.revisamaster.com.br/blog" aria-label="Blog">Blog</a></li>
        </ul>
        </div>

        <!-- Informações de contacto -->
        <div class="footer-contact">
        <div class="social-media">
            <a href="http://wa.me/5519995392568" aria-label="WhatsApp">
            <img src="./static/images/social-media/logo_whatsapp.avif" alt="Ícone do WhatsApp" />
            </a>
            <a href="https://www.instagram.com/revisa.master/" aria-label="Instagram">
            <img src="./static/images/social-media/logo_instagram.avif" alt="Ícone do Instagram" />
            </a>
            <a href="https://www.linkedin.com/in/gabriela-verruck-de-moraes/" aria-label="LinkedIn">
            <img src="./static/images/social-media/logo_linkedin.avif" alt="Ícone do LinkedIn" />
            </a>
        </div>
        <p><strong>WhatsApp:</strong> (19) 99539-2568</p>
        <p>
            <strong>Email:</strong>
            <a href="mailto:a.revisamaster@gmail.com" aria-label="Enviar email para Revisa Master">a.revisamaster@gmail.com</a>
        </p>
        </div>

        <!-- Logo da empresa -->
        <div class="footer-logo">
        <h3>Revisa Master</h3>
        <img src="./static/images/logo.avif" alt="Logo da Revisa Master" />
        <p>CNPJ: 48.693.442/0001-97</p>
        </div>
    </footer>

    <script src="./static/scripts/menu-toggle.js"></script>
</body>
</html>