
<!DOCTYPE html>
<html lang="pt-PT">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Revisa Master | serviço de orientação acadêmica</title>
  <meta name="description" content="Na Revisa Master, somos especialistas em oferecer serviços de orientação acadêmica e todos os tipos de trabalho acadêmico, como teses, TCC, dissertações...">
  <link rel="icon" href="./static/images/logo.avif" type="image/png">
  <link rel="stylesheet" href="./static/styles/styles-index.css">
  <link rel="stylesheet" href="./static/styles/styles-header.css">
  <link rel="stylesheet" href="./static/styles/footer.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
</head>


<!--INÍCIO DA PÁGINA INICIAL-->

<body>
  <header class="cabecalho">
    <nav class="cabecalho__nav" aria-label="Navegação principal">            
        <div class="cabecalho__nav__logo">
            <img src="./static/images/logo_rm.avif" alt="Logo da empresa">
        </div>
            
        <ul class="cabecalho__nav__links">
            <li><a class="active" href="/index">Página inicial</a></li>
            <li><a href="/services">Nossos serviços</a></li>
            <li><a href="/about">Sobre nós</a></li>
            <li><a href="/faq">Dúvidas</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
            
        <div class="cabecalho__nav__cta">
            <a href="http://wa.me/5519995392568" class="cta__button">Fale connosco agora</a>
        </div>    
                
        <!-- Menu Dropdown para Mobile -->
        <div class="cabecalho__nav__dropdown">
            <button class="dropdown__toggle" aria-expanded="false" aria-controls="dropdown__menu">☰</button>
            <ul id="dropdown__menu" class="dropdown__menu">
                <li><a class="active" href="/index">Página inicial</a></li>
                <li><a href="/services">Nossos serviços</a></li>
                <li><a href="/about">Sobre nós</a></li>
                <li><a href="/faq">Dúvidas</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </div>
    </nav>
  </header>

  <main>  
    <section id="pagina-inicial" class="hero-section">
      <div>
        <video autoplay muted loop playsinline id="myVideo">
          <source src="./static/videos\Video_entrada.mp4"
          type="video/mp4">
          </source>
        </video>
      </div> 

  <!-- Aqui entra o conteúdo "sobreposto" em 2 colunas -->
      <div class="overlay">
    <!-- Coluna da esquerda -->
        <div class="overlay__left-col">
          <h1>REVISA</h1>
          <h1>MASTER</h1>
          <p>Seu sucesso académico começa aqui</p>
          <div class="overlay__left-col__mobile-button">
            <a href="http://wa.me/5519995392568">Fale connosco agora</a> 
          </div>
        </div>


    <!-- Coluna da direita -->
        <div class="overlay__right-col">
          <p>
            Um ambiente ideal para impulsionar a sua trajetória académica com segurança e excelência. Trabalhamos com todos os tipos de trabalhos académicos e garantimos o mais alto padrão de qualidade.
          </p>
          <a href="http://wa.me/5519995392568">Fale connosco agora</a>
        </div>
    </div>

<!--FIM DA PÁGINA INICIAL-->

<!--INÍCIO DA SESSÃO 2-->

    </section>

    <section id="diferenciais" class="section-content-2">
        <div class="section-content-2__first-column">
          <h2>100% DE APROVAÇÃO</h2>
          <p>Sim, todos foram aprovados. Sem exceção.</p>
        </div> 
        <div class="section-content-2__second-column">
          <h2>EXPERIÊNCIA</h2>
        <p>Já são 8 anos no mercado para te atender como e quando precisares.</p>
        </div>
        <div class="section-content-2__third-column">
          <h2>GRANDES UNIVERSIDADES</h2>
          <p>Por aqui, as grandes universidades são a nossa especialidade!</p>
        </div>
        <div class="section-content-2__fourth-column">
          <h2>100% PERSONALIZADO</h2>
          <p>Sabemos que cada pessoa tem uma necessidade e estamos prontos para te atender.</p>
          <a href="http://wa.me/5519995392568">Fale connosco agora</a>
        </div>
      </div> 
    </section>
    
    <section class="section-content-2-polygon">
      <!-- Section para criar o triângulo invertido -->
    </section>

<!--FIM DA SESSÃO 2-->

<!--INÍCIO DA SESSÃO 3-->

    <section id="como-te-ajudamos" class="section-content-3">
      <h2>Veja como a Master te ajuda</h2>
      
      <img class="svg desktop" src="./static/images/diagrama_rm_desktop.png" alt="Diagrama de serviços da Revisa Master">
      <img class="svg mobile" src="./static/images/diagrama_rm_mobile.png" alt="Diagrama de serviços da Revisa Master">

      <div class="section-content-3__container__urgente">
        <h3>URGENTE?</h3>
      </div>
      </div>

    </section>
<!--FIM DA SESSÃO 3-->

<!--INÍCIO DA SESSÃO 4-->


    <section id="urgente" class="section-content-4">
      <div class="section-content-4__container">
        <svg class="section-content-4__container__svg" viewbox="0 0 1200 400">
          <line x1="125" y1="50" x2="125" y2="400"/>
          <line x1="1055" y1="50" x2="1055" y2="400"/>
        </svg> 
        <h2>Sem problemas!</h2>
        <a href="http://wa.me/5519995392568">Fale connosco agora</a>
      </div>
    </section>

<!--FIM DA SESSÃO 4-->

<!--INÍCIO DA SESSÃO 5-->


    <section class="section-content-5">
      
      <svg class="svg-content-section-5"viewBox="0 0 800 700" xmlns="http://www.w3.org/2000/svg">
        
        <!--DUAS PRIMEIRAS LINHAS DO TOPO DA SESSÃO-->
        <line x1="150" y1="18" x2="150" y2="100"></line>
        <line x1="640" y1="18" x2="640" y2="100"></line>
        <!--TRÊS PRIMEIRAS ENTRE O BLOCO DE CONTEÚDO-->
        <line x1="640" y1="320" x2="640" y2="360"></line>
        <line x1="640" y1="360" x2="150" y2="360"></line>
        <line x1="150" y1="360" x2="150" y2="400"></line>
        <!--TRÊS LINHAS FINAIS DA SESSÃO-->
        <line x1="150" y1="605" x2="150" y2="645"></line>
        <line x1="150" y1="645" x2="400" y2="645"></line>
        <line x1="400" y1="645" x2="400" y2="665"></line>
      
      </svg>

      </div>

      <h2>Como funciona o serviço?</h2>
     
        <div class="container-content-5">
          <div class="block">
            <h3>01.</h3>
            <p>
              Fale connosco através do nosso botão do WhatsApp 
              ou do nosso formulário de contacto.
            </p>
          </div>
          <div class="block">
            <h3>02.</h3>
            <p>
              Receba, em no máximo 1 dia útil, 
              o teu orçamento detalhado e personalizado.
            </p>
          </div>
          <div class="block">
            <h3>03.</h3>
            <p>
              Após a aprovação do orçamento, definimos cronogramas
              e metas para garantir que o trabalho seja entregue 
              de acordo com as tuas expectativas.
            </p>
        </div>
        </div>

          <div class="container-content-5">
            <div class="block">
              <h3>04.</h3>
              <p>
                A nossa equipa inicia o desenvolvimento do serviço 
                contratado. Durante esta fase, mantemos comunicação 
                constante para garantir que o trabalho esteja 
                alinhado às tuas necessidades.
              </p>
            </div>
            <div class="block">
              <h3>05.</h3>
              <p>
                Entregamos uma versão preliminar praticamente finalizada 
                do trabalho para a tua revisão ou a do teu orientador.
                Com base no feedback recebido, realizamos os ajustes 
                necessários para garantir a excelência.
              </p>
            </div>
            <div class="block">
              <h3>06.</h3>
              <p>
                Após a realização dos ajustes, entregamos o trabalho 
                finalizado, pronto para contribuir para o teu sucesso 
                académico.
              </p>
          </div>
      </div>
      <a href="http://wa.me/5519995392568">Fale connosco agora</a>
      </section>

<!--FIM DA SESSÃO 5-->

<!--INÍCIO DA SESSÃO 6-->

    <section id="reviews" class="section-content-6">
      
      <div class="section-content-6__container">
        <div>
          <h2>Seja Master</h2>
        </div>
        <div class="section-content-6__container__reviews">
          <script src="https://static.elfsight.com/platform/platform.js" async></script>
          <div class="elfsight-app-31eb4e2a-df54-4360-8d2c-865eeb2d1271" data-elfsight-app-lazy></div>           
          <a class="section-content-6__container__reviews__button" href="http://wa.me/5519995392568">Fale connosco agora</a>
        </div>
      </div>

    </section>
 
  </main>

<!--FIM DA SESSÃO 6-->



  <footer>
    <!-- Menu do rodapé -->
    <div class="footer-menu">
      <ul>
        <li><a href="/index">Página inicial</a></li>
        <li><a href="/services">Nossos serviços</a></li>
        <li><a href="/about">Sobre nós</a></li>
        <li><a href="/faq">Dúvidas</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/privacy">Política de Privacidade</a></li>
      </ul>
    </div>

    <!-- Informações de contacto -->
    <div class="footer-contact">
      <div class="social-media">
        <a href="http://wa.me/5519995392568" aria-label="WhatsApp">
          <img src="./static/images/social-media/logo_whatsapp.avif" alt="Ícone do WhatsApp" />
        </a>
        <a href="https://www.instagram.com/revisa.master/" aria-label="Instagram">
          <img src="./static/images/social-media/logo_instagram.avif" alt="Ícone do Instagram" />
        </a>
        <a href="https://www.linkedin.com/in/gabriela-verruck-de-moraes/" aria-label="LinkedIn">
          <img src="./static/images/social-media/logo_linkedin.avif" alt="Ícone do LinkedIn" />
        </a>
      </div>
      <p><strong>WhatsApp:</strong> (19) 99539-2568</p>
      <p>
        <strong>Email:</strong>
        <a href="mailto:a.revisamaster@gmail.com" aria-label="Enviar email para Revisa Master">a.revisamaster@gmail.com</a>
      </p>
    </div>

    <!-- Logo da empresa -->
    <div class="footer-logo">
      <h3>Revisa Master</h3>
      <img src="./static/images/logo.avif" alt="Logo da Revisa Master" />
      <p>CNPJ: 48.693.442/0001-97</p>
    </div>
  </footer>
  <script type="text/javascript" src="https://viewer.diagrams.net/js/viewer-static.min.js"></script>
  <script src="./static/scripts/menu-toggle.js"></script>
  <script src="./static/scripts/letra-svg.js"></script>
</body>
</html>
