<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidade | Revisa Master</title>
    <meta name="description" content="Na Revisa Master, somos especialistas em oferecer serviços de orientação acadêmica e todos os tipos de trabalho acadêmico, como teses, TCC, dissertações..."/>
    <link rel="icon" href="./static/images/logo.avif" type="image/png" />
    <link rel="stylesheet" href="./static/styles/styles-privacy.css">
    <link rel="stylesheet" href="./static/styles/styles-header.css" />
    <link rel="stylesheet" href="./static/styles/footer.css" />

</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho__nav">            
            <div class="cabecalho__nav__logo">
                <img src="./static/images/logo.avif" alt="Logo da empresa">
            </div>
                
            <div class="cabecalho__nav__links">
              <li><a href="/index">Página inicial</a></li>
              <li><a href="/services">Nossos serviços</a></li>
              <li><a href="/about">Sobre nós</a></li>
              <li><a href="/faq">Dúvidas</a></li>
              <li><a href="/contato">Contato</a></li>
              <li><a href="/privacy">Política de Privacidade</a></li>
            </div>
                
            <div class="cabecalho__nav__button">
                <a href="http://wa.me/5519995392568">Fale conosco</a>
            </div>    
                    
        </nav>
            
        <ul class="cabecalho__nav__dropdown">
          <button>☰</button>
          <li class="content">
            <a href="/index">Página inicial</a>
            <a href="/services">Nossos serviços</a>
            <a href="/about">Sobre nós</a>
            <a href="/faq">Dúvidas</a>
            <a href="/contato">Contato</a>
            <a href="/privacy">Política de Privacidade</a>
          </li>
        </ul>
    </header>

    <main>
        <section class="hero-section-privacy">
            <video class="hero-section-privacy__video" autoplay loop muted>
              <source src="./static/videos/video-about.mp4" type="video/mp4" />
            </video>
    
            <div class="hero-section-privacy__content">
              <h1>Política de Privacidade</h1>
            </div>
        </section>

        <section class="section-content-2">
            <div class="content-about">
                <h3>1. Quem deve utilizar nosso site</h3>
                <p>Nosso site só deve ser utilizado por pessoas com mais de dezoito anos de idade. 
                    Sendo assim, crianças e adolescentes não devem utilizá-lo.
                </p>
            </div>

            <div class="content-about">
                <h3>2. Dados que coletamos e motivos da coleta</h3>
                <p>Nosso site coleta e utiliza alguns dados pessoais de nossos usuários, de acordo com o disposto nesta seção.</p>

                <div class="content-about-topic">
                    <h5>a. Dados pessoais fornecidos expressamente pelo usuário</h5>

                    <p>Nós coletamos os seguintes dados pessoais que nossos usuários nos fornecem expressamente ao utilizar nosso site:</p>
                    <ul>
                        <li>
                            Endereço de e-mail
                        </li>
                        <li>
                            Nome completo
                        </li>
                    </ul>

                    <p>A coleta destes dados ocorre nos seguintes momentos:</p>
                    <ul>
                        <li>Quando o usuário assina a newsletter: Ao fornecer seu endereço de e-mail para receber atualizações, promoções e conteúdos exclusivos.</li>
                        <li>Quando o usuário fornece seus dados no atendimento pelo WhatsApp: Durante o contato com o atendimento ao cliente via WhatsApp, o usuário pode fornecer informações pessoais, como nome, telefone e e-mail.</li>
                    </ul>
                    
                    <p>Os dados fornecidos por nossos usuários são coletados com as seguintes finalidades:</p>
                    <ul>
                        <li>Por motivos de confidencialidade e controle básico de informações em casos de processos judiciais: Aqui você pode explicar que coleta os dados para garantir a confidencialidade e controle das informações, especialmente em situações que envolvem questões legais.</li>
                        <li>Por motivos de confidencialidade e controle básico de informações em casos de processos judiciais: Os dados fornecidos são utilizados para garantir o cumprimento das obrigações legais e para manter o controle adequado das informações em situações jurídicas.</li>
                        <li>Para organização de informações: Os dados são usados para estruturar e organizar informações dentro do sistema, facilitando o atendimento e a personalização dos serviços oferecidos aos usuários.</li>
                    </ul>
                </div>

                <div class="content-about-topic">
                    <h5>b. Dados pessoais obtidos de outras formas</h5>

                    <p>Nós coletamos os seguintes dados pessoais de nossos usuários:</p>
                    <ul>
                        <li>Endereço IP: O endereço de IP é coletado automaticamente quando o usuário acessa o site.</li>
                        <li>Dados de geolocalização: Dependendo das permissões de navegador ou dispositivo, o site pode coletar informações sobre a localização do usuário.</li>
                        <li>Origem do acesso: Dados sobre como o usuário chegou ao site, como o site de referência ou os mecanismos de busca.</li>
                        <li>Sessões feitas: Informações sobre o tempo que o usuário passou no site, páginas acessadas e interações feitas.</li>
                    </ul>

                    <p>A coleta destes dados ocorre nos seguintes momentos:</p>
                    <li>Ao acessar o site: Assim que o usuário entra no site, os dados mencionados, como IP, geolocalização e origem do acesso, são automaticamente coletados.</li>

                    <p>Estes dados são coletados com as seguintes finalidades:</p>
                    <ul>
                        <li>Melhorar a experiência do usuário: Dados coletados automaticamente, como informações de navegação, ajudam a personalizar o conteúdo exibido, oferecer produtos ou serviços mais relevantes e melhorar a experiência geral do site.</li>
                        <li>Análise de tráfego e comportamento: Para coletar informações sobre o comportamento de navegação dos usuários, como tempo de visita, páginas acessadas, e interações no site, a fim de otimizar o desempenho do site e compreender os padrões de uso.</li>
                        <li>Segurança do site: Coleta de dados como endereços IP ou logs de acesso para prevenir atividades fraudulentas, garantir a segurança do site e proteger os dados pessoais dos usuários.</li>
                        <li>Conformidade com regulamentações: Coleta de informações necessárias para atender a obrigações legais e regulamentares, como o armazenamento de registros de acesso para fins de auditoria ou controle.</li>
                        <li>Publicidade e marketing: Uso de dados para fins publicitários, como segmentação de anúncios ou personalização de campanhas, com base no comportamento de navegação.</li>
                    </ul>
                </div>
            </div>

            <div class="content-about">
                <h3>3. Dados sensíveis</h3>
                <p>Não serão coletados dados sensíveis de nossos usuários, assim entendidos aqueles definidos nos arts. 11 e 12 da Lei de Proteção de Dados Pessoais. Assim, não haverá coleta de dados sobre origem racial ou étnica, convicção religiosa, opinião política, filiação sindical ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dados genéticos ou biométricos, quando vinculado a uma pessoa natural.</p>
            </div>

            <div class="content-about">
                <h3>4. Cookies</h3>
                <p>
                    Cookies são pequenos arquivos de texto baixados automaticamente em seu dispositivo quando você acessa e navega por um site. Eles servem, basicamente, para ser possível identificar dispositivos, atividades e preferências de usuários.
                    <br>
                    Os cookies não permitem que qualquer arquivo ou informação sejam extraídos do disco rígido do usuário, não sendo possível, ainda, que, por meio deles, se tenha acesso a informações pessoais que não tenham partido do usuário ou da forma como utiliza os recursos do site.
                </p>
           
                <div class="content-about-topic">
                    <h5>a. Cookies do site</h5>
                    <p>
                        Os cookies do site são aqueles enviados ao computador ou dispositivo do usuário e administrados exclusivamente pelo site.
                        <br>
                        As informações coletadas por meio destes cookies são utilizadas para melhorar e personalizar a experiência do usuário, sendo que alguns cookies podem, por exemplo, ser utilizados para lembrar as preferências e escolhas do usuário, bem como para o oferecimento de conteúdo personalizado.
                    </p>
                </div>

                <div class="content-about-topic">
                    <h5>b. Cookies de terceiros</h5>

                    <p>
                        Alguns de nossos parceiros podem configurar cookies nos dispositivos dos usuários que acessam nosso site.
                        <br>
                        Estes cookies, em geral, visam possibilitar que nossos parceiros possam oferecer seu conteúdo e seus serviços ao usuário que acessa nosso site de forma personalizada, por meio da obtenção de dados de navegação extraídos a partir da sua interação com o site.
                        <br>
                        O usuário poderá obter mais informações sobre os cookies de terceiros e sobre a forma como os dados obtidos a partir dele são tratados, além de ter acesso à descrição dos cookies utilizados e de suas características, acessando o seguinte link:
                    </p>

                    <ul>
                        <li>
                            Google Analytics:

                            <ul>
                                <li>Descrição: Serviço de análise de tráfego de sites utilizado para entender o comportamento dos usuários e melhorar a experiência do site.</li>
                                <li>Política de Cookies: https://developers.google.com/analytics/devguides/collection/gajs/cookie-usage</li>
                                <li>Política de Privacidade do Google: https://policies.google.com/privacy</li>  
                            </ul>
                        </li>
                        <li>
                            Google Ads (ou outros serviços de publicidade do Google):

                            <ul>
                                <li>Descrição: Utilizado para exibir anúncios personalizados e realizar remarketing com base no comportamento de navegação.</li>
                                <li>Política de Privacidade do Google: https://policies.google.com/privacy</li>
                            </ul>
                        </li>
                    </ul>

                    <p>As entidades encarregadas da coleta dos cookies poderão ceder as informações obtidas a terceiros.</p>
                </div>

                <div class="content-about-topic">
                    <h5>c. Gestão de cookies</h5>
                    <p>
                        O usuário poderá se opor à utilização de cookies pelo site, bastando que os desative no momento em que começa a utilizar o serviço, seguindo as seguintes instruções:
                        <br>
                        Assim que entrar no site, o usuário terá a opção de bloquear ou permitir a utilização de cookies, bastando selecionar a opção correspondente na caixa de diálogo (popup) que aparece ao acessar o site. Caso o usuário opte por bloquear os cookies, ele pode alterar suas preferências a qualquer momento através das configurações do navegador ou usando o banner de cookies disponível no site.
                    </p>
                </div>
            </div>

            <div class="content-about">
                <h3>5. Coleta de dados não previstos expressamente</h3>
                <p>
                    Eventualmente, outros tipos de dados não previstos expressamente nesta Política de Privacidade poderão ser coletados, desde que sejam fornecidos com o consentimento do usuário ou, ainda, que a coleta seja permitida com fundamento em outra base legal prevista em lei.
                    <br>
                    Em qualquer caso, a coleta de dados e as atividades de tratamento dela decorrentes serão informadas aos usuários do site.
                </p>
                
                <div class="content-about-topic">
                    <h5>a. Compartilhamento de dados pessoais com terceiros</h5>
                    <p>Nós não compartilhamos seus dados pessoais com terceiros. Apesar disso, é possível que o façamos para cumprir alguma determinação legal ou regulatória, ou, ainda, para cumprir alguma ordem expedida por autoridade pública.</p>
                </div>
            </div>

            <div class="content-about">
                <h3>6. Por quanto tempo seus dados pessoais serão armazenados?</h3>
                <p>
                    Os dados pessoais coletados pelo site são armazenados e utilizados por período de tempo que corresponda ao necessário para atingir as finalidades elencadas neste documento e que considere os direitos de seus titulares, os direitos do controlador do site e as disposições legais ou regulamentares aplicáveis.
                    <br>
                    Uma vez expirados os períodos de armazenamento dos dados pessoais, eles são removidos de nossas bases de dados ou anonimizados, salvo nos casos em que houver a possibilidade ou a necessidade de armazenamento em virtude de disposição legal ou regulatória.
                </p>
            </div>

            <div class="content-about">
                <h3>7. Bases legais para o tratamento de dados pessoais</h3>
                <p>
                    Cada operação de tratamento de dados pessoais precisa ter um fundamento jurídico, ou seja, uma base legal, nada mais é que uma justificativa que a autorize, prevista na Lei Geral de Proteção de Dados Pessoais.
                    <br>
                    Todas as Nossas atividades de tratamento de dados pessoais possuem uma base legal que as fundamenta, de acordo com as permissões pela legislação. Mais informações sobre as bases legais que utilizamos para operações de tratamento de dados pessoais específicos podem ser obtidas a partir de nossos canais de contato, informados ao final desta Política.
                </p>
            </div>

            <div class="content-about">
                <h3>8. Exercício dos Direitos</h3>

                <p>O usuário do site pode exercer os seguintes direitos sobre os dados pessoais que coletamos e tratamos:</p>
                <ul>
                    <li>Confirmação da existência do tratamento;</li>
                    <li>Acesso aos dados;</li>
                    <li>Correção de dados incompletos, errados ou desatualizados;</li>
                    <li>Anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com a lei;</li>
                    <li>Portabilidade dos dados a outro fornecedor de serviço ou produto, mediante requisição expressa;</li>
                    <li>Eliminação dos dados pessoais tratados com o consentimento do titular, exceto nos casos previstos em lei;</li>
                    <li>Informação das entidades públicas ou privadas com as quais compartilhamos seus dados;</li>
                    <li>Revogação do consentimento.</li>
                </ul>

                <p>
                    1. Como o titular pode exercer seus direitos
                    <br>
                    Para garantir que o usuário que pretende exercer seus direitos é, de fato, o titular dos dados pessoais objeto da requisição, poderemos solicitar documentos ou outras informações que possam auxiliar em sua correta identificação, a fim de resguardar nossos direitos e os direitos de terceiros. Isto somente será feito, porém, se for absolutamente necessário, e o requerente receberá todas as informações relacionadas.
                </p>
            </div>

            <div class="content-about">
                <h3>9. Medidas de segurança no tratamento de dados pessoais</h3>
                <p>
                    Empregamos medidas técnicas e organizativas aptas a proteger os dados pessoais de acessos não autorizados e de situações de destruição, perda, extravio ou alteração desses dados.
                    <br>
                    As medidas que utilizamos levam em consideração a natureza dos dados, o contexto e a finalidade do tratamento, os riscos que uma eventual violação geraria para os direitos e liberdades do usuário, e os padrões atualmente empregados no mercado por empresas semelhantes à nossa.
                </p>
                
                <p>Entre as medidas de segurança adotadas por nós, destacamos as seguintes:</p>
                <ul>
                    <li>Armazenamento de senhas utilizando hashes criptográficos: As senhas dos usuários são armazenadas de forma segura, utilizando algoritmos de hash criptográficos, o que impede que as senhas sejam lidas diretamente em caso de violação de dados.</li>
                    <li>Criptografia de dados durante a transmissão: Usamos criptografia SSL/TLS para garantir que todos os dados transmitidos entre o navegador do usuário e o servidor do site sejam protegidos contra interceptação.</li>
                    <li>Restrições de acesso a bancos de dados: O acesso a dados sensíveis armazenados em bancos de dados é restrito apenas a funcionários autorizados, com base na necessidade de acessar tais informações.</li>
                    <li>Monitoramento de acessos físicos e lógicos: Implementamos um sistema de monitoramento para identificar e prevenir acessos não autorizados, tanto físicos (ao servidor) quanto lógicos (ao sistema ou banco de dados).</li>
                    <li>Autenticação multifatorial (MFA): Para aumentar a segurança no acesso a informações sensíveis, exigimos a autenticação multifatorial em determinadas operações (como login em contas de usuários ou alterações de dados críticos).</li>
                </ul>

                <p>
                    Ainda que adote tudo o que está ao seu alcance para evitar incidentes de segurança, é possível que ocorra algum problema motivado exclusivamente por um terceiro – como em caso de ataques de hackers ou crackers ou, ainda, em caso de culpa exclusiva do usuário, que corre, por exemplo, quando ele mesmo transfere seus dados a terceiro. Assim, embora sejamos, em geral, responsáveis pelos dados pessoais que tratamos, nos eximimos de responsabilidade caso ocorra uma situação excepcional como essas, sobre as quais não temos nenhum tipo de controle.
                    <br>
                    De qualquer forma, caso ocorra qualquer tipo de incidente de segurança que possa gerar risco ou dano relevante para qualquer um de nossos usuários, comunicaremos os afetados e a Autoridade Nacional de Proteção de Dados acerca do ocorrido, em conformidade com o disposto na Lei Geral de Proteção de Dados.
                </p>
            </div>

            <div class="content-about">
                <h3>10. Alterações nesta política</h3>
                <p>
                    A presente versão desta Política de Privacidade foi atualizada pela última vez em: 13/01/2025.
                    <br>
                    Reservamo-nos o direito de modificar, a qualquer momento, as presentes normas, especialmente para adaptá-las às eventuais alterações feitas em nosso site, seja pela disponibilização de novas funcionalidades, seja pela supressão ou modificação daquelas já existentes.
                    <br>
                    Sempre que houver uma modificação, nossos usuários serão notificados acerca da mudança.
                </p>
            </div>

            <div class="content-about">
                <h3>11. Como entrar em contato conosco</h3>
                <p>Para esclarecer quaisquer dúvidas sobre esta Política de Privacidade ou sobre os dados pessoais que tratamos, entre em contato com nosso Encarregado de Proteção de Dados Pessoais, por algum dos canais mencionados abaixo:</p>

                <ul>
                    <li>E-mail: a.revisamaster@gmail.com</li>
                    <li>Telefone: +55 19 99539-2568</li>
                    <li>Endereço postal: Praça Japão, 135, ap 14 - Aviacão, Praia Grande, São Paulo, Brasil. CEP 11702-640</li>
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <!-- Menu do rodapé -->
        <div class="footer-menu">
          <ul>
            <li><a href="/index">Página inicial</a></li>
            <li><a href="/services">Nossos serviços</a></li>
            <li><a href="/about">Sobre nós</a></li>
            <li><a href="/faq">Dúvidas</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/privacy">Política de Privacidade</a></li>
          </ul>
        </div>
    
        <!-- Informações de contato -->
        <div class="footer-contact">
          <div class="social-media">
            <a href="http://wa.me/5519995392568" aria-label="WhatsApp">
              <img src="./static/images/social-media/logo_whatsapp.avif" alt="Ícone do WhatsApp" />
            </a>
            <a href="https://www.instagram.com/revisa.master/" aria-label="Instagram">
              <img src="./static/images/social-media/logo_instagram.avif" alt="Ícone do Instagram" />
            </a>
            <a href="https://www.linkedin.com/in/gabriela-verruck-de-moraes/" aria-label="LinkedIn">
              <img src="./static/images/social-media/logo_linkedin.avif" alt="Ícone do LinkedIn" />
            </a>
          </div>
          <p><strong>WhatsApp:</strong> (19) 99539-2568</p>
          <p>
            <strong>Email:</strong>
            <a href="mailto:a.revisamaster@gmail.com" aria-label="Enviar email para Revisa Master">a.revisamaster@gmail.com</a>
          </p>
        </div>
    
        <!-- Logo da empresa -->
        <div class="footer-logo">
          <h3>Revisa Master</h3>
          <img src="./static/images/logo.avif" alt="Logo da Revisa Master" />
          <p>CNPJ: 48.693.442/0001-97</p>
        </div>
    </footer>

    <script src="./scripts/menu-toggle.js"></script>
</body>
</html>