<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidade | Revisa Master</title>
    <meta name="description" content="Na Revisa Master, somos especialistas em oferecer serviços de orientação acadêmica e todos os tipos de trabalho acadêmico, como teses, TCC, dissertações..."/>
    <link rel="icon" href="./static/images/logo.avif" type="image/png" />
    <link rel="stylesheet" href="./static/styles/styles-privacy.css">
</head>
<body>
    
</body>
</html>