<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidade | Revisa Master</title>
    <meta name="description" content="Na Revisa Master, somos especialistas em oferecer serviços de orientação acadêmica e todos os tipos de trabalho acadêmico, como teses, TCC, dissertações..."/>
    <link rel="icon" href="./static/images/logo.avif" type="image/png" />
    <link rel="stylesheet" href="./static/styles/styles-privacy.css">
    <link rel="stylesheet" href="./static/styles/styles-header.css" />
    <link rel="stylesheet" href="./static/styles/styles-footer.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>


</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho__nav" aria-label="Navegação principal">            
            <div class="cabecalho__nav__logo">
                <img src="./static/images/logo_rm.avif" alt="Logo da empresa">
            </div>
                
            <ul class="cabecalho__nav__links">
                <li><a href="{{ url_for('index') }}">Página inicial</a></li>
                <li><a href="{{ url_for('services') }}">Nossos serviços</a></li>
                <li><a href="{{ url_for('about') }}">Sobre nós</a></li>
                <li><a href="{{ url_for('faq') }}">Dúvidas</a></li>
                <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
            </ul>
                
            <div class="cabecalho__nav__cta">
                <a href="http://wa.me/5519995392568" target="_blank" class="cta__button">Fale connosco agora</a>
            </div>    
                    
            <!-- Menu Dropdown para Mobile -->
            <div class="cabecalho__nav__dropdown">
                <button class="dropdown__toggle" aria-expanded="false" aria-controls="dropdown__menu">☰</button>
                <ul id="dropdown__menu" class="dropdown__menu">
                    <li><a href="{{ url_for('index') }}">Página inicial</a></li>
                    <li><a href="{{ url_for('services') }}">Nossos serviços</a></li>
                    <li><a href="{{ url_for('about') }}">Sobre nós</a></li>
                    <li><a href="{{ url_for('faq') }}">Dúvidas</a></li>
                    <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <a 
            href="http://wa.me/5519995392568" 
            class="whatsapp-fixo whatsapp__button__animation" 
            target="_blank">
            <i class="fab fa-whatsapp"></i>
         </a>
        <section class="hero-section-privacy">
            <video class="hero-section-privacy__video" autoplay loop muted>
              <source src="./static/videos/video-about.mp4" type="video/mp4" />
            </video>
    
            <div class="hero-section-privacy__content">
              <h1>Política de Privacidade</h1>
            </div>
        </section>

        <section class="section-content-2">
            <div class="content-about">
                <h3>1. Quem deve utilizar nosso site</h3>
                <p>
                    O nosso site deve ser utilizado apenas por pessoas com mais de dezoito anos de idade. 
                    Assim sendo, crianças e adolescentes não devem utilizá-lo.
                </p>
            </div>

            <div class="content-about">
                <h3>2. Dados que recolhemos e motivos da recolha</h3>
                <p>O nosso site recolhe e utiliza alguns dados pessoais dos nossos utilizadores, conforme descrito nesta secção.</p>

                <div class="content-about-topic">
                    <h5>a. Dados pessoais fornecidos expressamente pelo utilizador</h5>

                    <p>Recolhemos os seguintes dados pessoais que os nossos utilizadores nos fornecem expressamente ao utilizar o nosso site:</p>
                    <ul>
                        <li>Endereço de e-mail</li>
                        <li>Nome completo</li>
                    </ul>

                    <p>A recolha destes dados ocorre nos seguintes momentos:</p>
                    <ul>
                        <li><strong>Quando o utilizador subscreve a newsletter:</strong> Ao fornecer o seu endereço de e-mail para receber atualizações, promoções e conteúdos exclusivos.</li>
                        <li><strong>Quando o utilizador fornece os seus dados no atendimento via WhatsApp:</strong> Durante o contacto com o atendimento ao cliente via WhatsApp, o utilizador pode fornecer informações pessoais, como nome, telefone e e-mail.</li>
                    </ul>
                    
                    <p>Os dados fornecidos pelos nossos utilizadores são recolhidos para os seguintes fins:</p>
                    <ul>
                        <li><strong>Por motivos de confidencialidade e controlo básico de informações em casos de processos judiciais:</strong> A recolha de dados garante a confidencialidade e o controlo das informações, especialmente em situações que envolvem questões legais.</li>
                        <li><strong>Para organização de informações:</strong> Os dados são utilizados para estruturar e organizar informações dentro do sistema, facilitando o atendimento e a personalização dos serviços oferecidos aos utilizadores.</li>
                    </ul>
                </div>

                <div class="content-about-topic">
                    <h5>b. Dados pessoais obtidos de outras formas</h5>

                    <p>Recolhemos os seguintes dados pessoais dos nossos utilizadores:</p>
                    <ul>
                        <li><strong>Endereço IP:</strong> O endereço de IP é recolhido automaticamente quando o utilizador acede ao site.</li>
                        <li><strong>Dados de geolocalização:</strong> Dependendo das permissões do navegador ou dispositivo, o site pode recolher informações sobre a localização do utilizador. </li>
                        <li><strong>Origem do acesso:</strong> Dados sobre como o utilizador chegou ao site, como o site de referência ou os motores de busca.</li>
                        <li><strong>Sessões realizadas:</strong> Informações sobre o tempo que o utilizador passou no site, páginas visitadas e interações feitas.</li>
                    </ul>

                    <p>A recolha destes dados ocorre nos seguintes momentos:</p>
                    <li><strong>Ao aceder ao site:</strong> Assim que o utilizador entra no site, os dados mencionados, como IP, geolocalização e origem do acesso, são automaticamente recolhidos.</li>

                    <p>Estes dados são recolhidos para os seguintes fins:</p>
                    <ul>
                        <li><strong>Melhoria da experiência do utilizador:</strong> Dados recolhidos automaticamente, como informações de navegação, ajudam a personalizar o conteúdo exibido, oferecer produtos ou serviços mais relevantes e melhorar a experiência geral do site.</li>
                        <li><strong>Análise de tráfego e comportamento:</strong> Para recolher informações sobre o comportamento de navegação dos utilizadores, como tempo de visita, páginas acedidas e interações no site, de forma a otimizar o desempenho do site e compreender os padrões de utilização.</li>
                        <li><strong>Segurança do site:</strong> Recolha de dados como endereços IP ou registos de acesso para prevenir atividades fraudulentas, garantir a segurança do site e proteger os dados pessoais dos utilizadores.</li>
                        <li><strong>Conformidade com regulamentações:</strong> Recolha de informações necessárias para cumprir obrigações legais e regulamentares, como o armazenamento de registos de acesso para fins de auditoria ou controlo.</li>
                        <li><strong>Publicidade e marketing:</strong> Utilização de dados para fins publicitários, como segmentação de anúncios ou personalização de campanhas, com base no comportamento de navegação. </li>
                    </ul>
                </div>
            </div>

            <div class="content-about">
                <h3>3. Dados sensíveis</h3>
                <p>
                    Não serão recolhidos dados sensíveis dos nossos utilizadores, conforme definidos nos artigos 11.º e 12.º da Lei de Proteção de Dados 
                    Pessoais. Assim, não haverá recolha de dados sobre origem racial ou étnica, convicção religiosa, opinião política, filiação sindical 
                    ou a organizações de caráter religioso, filosófico ou político, dados sobre saúde ou vida sexual, dados genéticos ou biométricos, quando 
                    associados a uma pessoa natural.
                </p>
            </div>

            <div class="content-about">
                <h3>4. Cookies</h3>
                <p>
                    Os cookies são pequenos ficheiros de texto descarregados automaticamente para o seu dispositivo quando acede e navega num site. Servem, essencialmente, para identificar dispositivos, atividades e preferências dos utilizadores.
                    <br>
                    Os cookies não permitem que qualquer ficheiro ou informação seja extraída do disco rígido do utilizador, nem possibilitam o acesso a informações pessoais que não tenham sido fornecidas pelo utilizador ou resultantes da sua utilização dos recursos do site.
                </p>
           
                <div class="content-about-topic">
                    <h5>a. Cookies do site</h5>
                    <p>
                        Os cookies do site são aqueles enviados ao computador ou dispositivo do utilizador e geridos exclusivamente pelo site.
                        <br>
                        As informações recolhidas através destes cookies são utilizadas para melhorar e personalizar a experiência do utilizador, podendo alguns cookies, por exemplo, ser utilizados para recordar as preferências e escolhas do utilizador, bem como para disponibilizar conteúdo personalizado.
                    </p>
                </div>

                <div class="content-about-topic">
                    <h5>b. Cookies de terceiros</h5>

                    <p>
                        Alguns dos nossos parceiros podem configurar cookies nos dispositivos dos utilizadores que acedem ao nosso site.
                        <br>
                        Estes cookies, em geral, visam permitir que os nossos parceiros ofereçam o seu conteúdo e serviços ao utilizador que acede ao nosso site de forma personalizada, através da obtenção de dados de navegação extraídos da sua interação com o site.
                        <br>
                        O utilizador pode obter mais informações sobre os cookies de terceiros e sobre como os dados recolhidos são tratados, além de ter acesso à descrição dos cookies utilizados e das suas características, através dos seguintes links:
                    </p>

                    <ul>
                        <li>
                            <strong>Google Analytics:</strong>

                            <ul>
                                <li>Descrição: Serviço de análise de tráfego do site utilizado para compreender o comportamento dos utilizadores e melhorar a experiência do site.</li>
                                <li>Política de Cookies: https://developers.google.com/analytics/devguides/collection/gajs/cookie-usage</li>
                                <li>Política de Privacidade do Google: https://policies.google.com/privacy</li>  
                            </ul>
                        </li>
                        <li>
                           <strong> Google Ads (ou outros serviços de publicidade do Google):</strong>

                            <ul>
                                <li>Utilizado para exibir anúncios personalizados e realizar remarketing com base no comportamento de navegação.</li>
                                <li>Política de Privacidade do Google: https://policies.google.com/privacy</li>
                            </ul>
                        </li>
                    </ul>

                    <p>As entidades responsáveis pela recolha dos cookies podem ceder as informações obtidas a terceiros.</p>
                </div>

                <div class="content-about-topic">
                    <h5>c. Gestão de cookies</h5>
                    <p>
                        O utilizador pode opor-se à utilização de cookies no site, bastando desativá-los no momento em que começa a utilizar o serviço, seguindo as instruções abaixo:
                    </p>
                    <ul>
                        <li>
                            Assim que entra no site, o utilizador terá a opção de bloquear ou permitir a utilização de cookies, bastando selecionar a opção correspondente na caixa de diálogo (popup) que aparece ao aceder ao site.
                        </li>
                        <li>
                            Caso o utilizador opte por bloquear os cookies, pode alterar as suas preferências a qualquer momento através das definições do navegador ou utilizando o banner de cookies disponível no site.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="content-about">
                <h3>5. Recolha de dados não previstos expressamente</h3>
                <p>
                    Eventualmente, poderão ser recolhidos outros tipos de dados não previstos expressamente nesta Política de Privacidade, desde que sejam fornecidos com o consentimento do utilizador ou, ainda, que a recolha seja permitida com fundamento noutra base legal prevista na lei.
                    <br>
                    Em qualquer caso, a recolha de dados e as atividades de tratamento decorrentes serão comunicadas aos utilizadores do site.
                </p>
                
                <div class="content-about-topic">
                    <h5>a. Partilha de dados pessoais com terceiros</h5>
                    <p>Não partilhamos os seus dados pessoais com terceiros. No entanto, poderemos fazê-lo para cumprir alguma determinação legal ou regulamentar ou, ainda, para cumprir uma ordem emitida por uma autoridade pública.</p>
                </div>
            </div>

            <div class="content-about">
                <h3>6. Durante quanto tempo os seus dados pessoais serão armazenados?</h3>
                <p>
                    Os dados pessoais recolhidos pelo site são armazenados e utilizados durante um período de tempo adequado ao cumprimento das finalidades indicadas neste documento e que respeite os direitos dos titulares dos dados, os direitos do responsável pelo tratamento e as disposições legais ou regulamentares aplicáveis.
                    <br>
                    Uma vez expirados os períodos de armazenamento dos dados pessoais, estes são removidos das nossas bases de dados ou anonimizados, salvo nos casos em que exista a possibilidade ou necessidade de armazenamento devido a uma exigência legal ou regulamentar.
                </p>
            </div>

            <div class="content-about">
                <h3>7. Bases legais para o tratamento de dados pessoais</h3>
                <p>
                    Cada operação de tratamento de dados pessoais necessita de um fundamento jurídico, ou seja, uma base legal, que nada mais é do que uma justificação prevista na Lei Geral de Proteção de Dados Pessoais.
                    <br>
                    Todas as nossas atividades de tratamento de dados pessoais possuem uma base legal que as fundamenta, de acordo com as permissões previstas na legislação. Mais informações sobre as bases legais que utilizamos para operações de tratamento de dados pessoais específicas podem ser obtidas através dos nossos canais de contacto, indicados no final desta Política.
                </p>
            </div>

            <div class="content-about">
                <h3>8. Exercício dos Direitos</h3>

                <p>O utilizador do site pode exercer os seguintes direitos relativamente aos dados pessoais que recolhemos e tratamos:</p>
                <ul>
                    <li>Confirmação da existência do tratamento;</li>
                    <li>Acesso aos dados;</li>
                    <li>Correção de dados incompletos, errados ou desatualizados;</li>
                    <li>Anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com a lei;</li>
                    <li>Portabilidade dos dados para outro fornecedor de serviço ou produto, mediante pedido expresso;</li>
                    <li>Eliminação dos dados pessoais tratados com o consentimento do titular, salvo nos casos previstos na lei;</li>
                    <li>nformação sobre as entidades públicas ou privadas com as quais partilhamos os seus dados;</li>
                    <li>Revogação do consentimento.</li>
                </ul>

                <div class="content-about-topic">
                    <h5> a. Como o titular pode exercer os seus direitos</h5>
                    <p>Para garantir que o utilizador que pretende exercer os seus direitos é, de facto, o titular dos dados pessoais objeto do pedido, poderemos solicitar documentos ou outras informações que possam auxiliar na sua correta identificação, a fim de proteger os nossos direitos e os direitos de terceiros. Isto será feito apenas se for absolutamente necessário, e o requerente receberá todas as informações relacionadas.</p>
                </div>
            </div>


            <div class="content-about">
                <h3>9. Medidas de segurança no tratamento de dados pessoais</h3>
                <p>
                    Adotamos medidas técnicas e organizativas adequadas para proteger os dados pessoais contra acessos não autorizados, bem como contra situações de destruição, perda, extravio ou alteração desses dados.
                    <br>
                    As medidas que utilizamos têm em consideração a natureza dos dados, o contexto e a finalidade do tratamento, os riscos que uma eventual violação pode representar para os direitos e liberdades do utilizador e os padrões atualmente aplicados no mercado por empresas semelhantes à nossa.
                </p>
                
                <p>Entre as medidas de segurança adotadas, destacamos as seguintes:</p>
                <ul>
                    <li><strong>Armazenamento de palavras-passe com encriptação criptográfica:</strong> As palavras-passe dos utilizadores são armazenadas de forma segura, utilizando algoritmos de hash criptográficos, impedindo que sejam lidas diretamente em caso de violação de dados.</li>
                    <li><strong>Criptografia de dados durante a transmissão:</strong> Utilizamos criptografia SSL/TLS para garantir que todos os dados transmitidos entre o navegador do utilizador e o servidor do site estejam protegidos contra interceção.</li>
                    <li><strong>Restrições de acesso a bases de dados:</strong> O acesso a dados sensíveis armazenados em bases de dados é restrito apenas a funcionários autorizados, com base na necessidade de aceder a tais informações.</li>
                    <li><strong>Monitorização de acessos físicos e lógicos:</strong> Implementamos um sistema de monitorização para identificar e prevenir acessos não autorizados, tanto físicos (ao servidor) como lógicos (ao sistema ou base de dados).</li>
                    <li><strong>Autenticação multifator (MFA):</strong> Para reforçar a segurança no acesso a informações sensíveis, exigimos autenticação multifator em determinadas operações (como login em contas de utilizadores ou alterações de dados críticos).</li>
                </ul>

                <p>
                    Ainda que adotemos todas as medidas possíveis para evitar incidentes de segurança, é possível que ocorra algum problema motivado exclusivamente por terceiros – como em caso de ataques de hackers ou crackers – ou ainda por culpa exclusiva do utilizador, como quando este partilha os seus dados com terceiros. 
                    Assim, embora sejamos, em geral, responsáveis pelos dados pessoais que tratamos, não podemos ser responsabilizados caso ocorra uma situação excecional como essas, sobre as quais não temos qualquer controlo.
                    <br>
                    De qualquer forma, caso ocorra algum incidente de segurança que possa gerar risco ou dano significativo para qualquer um dos nossos utilizadores, informaremos os afetados e a Autoridade Nacional de Proteção de Dados sobre o ocorrido, em conformidade com o disposto na Lei Geral de Proteção de Dados.
                </p>
            </div>

            <div class="content-about">
                <h3>10. Alterações a esta política</h3>
                <p>
                    A presente versão desta Política de Privacidade foi atualizada pela última vez em: <strong>13/01/2025.</strong>
                    <br>
                    Reservamo-nos o direito de modificar, a qualquer momento, estas regras, especialmente para as adaptar a eventuais alterações no nosso site, seja pela disponibilização de novas funcionalidades, seja pela remoção ou modificação das existentes.
                    <br>
                    Sempre que houver uma modificação, os nossos utilizadores serão notificados sobre as alterações.
                </p>
            </div>

            <div class="content-about">
                <h3>11. Como entrar em contacto connosco</h3>
                <p>Para esclarecer quaisquer dúvidas sobre esta Política de Privacidade ou sobre os dados pessoais que tratamos, entre em contacto com o nosso Encarregado de Proteção de Dados Pessoais através dos seguintes canais:</p>

                <ul>
                    <li><strong>E-mail:</strong> a.revisamaster@gmail.com</li>
                    <li><strong>Telefone:</strong> +55 19 99539-2568</li>
                    <li><strong>Endereço postal:</strong> Praça Japão, 135, ap 14 - Aviacão, Praia Grande, São Paulo, Brasil. CEP 11702-640</li>
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <!-- Menu de navegação do rodapé -->
        <nav class="footer-menu" aria-label="Menu do rodapé">
          <ul>
            <li><a href="{{ url_for('index') }}">Página inicial</a></li>
            <li><a href="{{ url_for('services') }}">Nossos serviços</a></li>
            <li><a href="{{ url_for('about') }}">Sobre nós</a></li>
            <li><a href="{{ url_for('faq') }}">Dúvidas frequentes</a></li>
            <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
            <li><a class="active" href="{{ url_for('privacy') }}">Política de Privacidade</a></li>
          </ul>
        </nav>
      
        <!-- Informações de contacto -->
        <div class="footer-contact" aria-label="Informações de contacto">
          <div class="social-media">
            <a href="http://wa.me/5519995392568" target="_blank" aria-label="WhatsApp">
              <img src="./static/images/social-media/logo_whatsapp.avif" alt="WhatsApp da Revisa Master" />
            </a>
            <a href="https://www.instagram.com/revisa.master/" aria-label="Instagram">
              <img src="./static/images/social-media/logo_instagram.avif" alt="Instagram da Revisa Master" />
            </a>
            <a href="https://www.linkedin.com/in/gabriela-verruck-de-moraes/" aria-label="LinkedIn">
              <img src="./static/images/social-media/logo_linkedin.avif" alt="LinkedIn da Revisa Master" />
            </a>
          </div>
          <p><strong>WhatsApp:</strong> <a href="http://wa.me/5519995392568" target="_blank" aria-label="Enviar mensagem no WhatsApp">(19) 99539-2568</a></p>
          <p>
            Email de contacto:
            <br>
            <strong><a href="mailto:a.revisamaster@gmail.com" aria-label="Enviar email para Revisa Master">a.revisamaster@gmail.com</a></strong>
          </p>
        </div>
      
        <!-- Logo e informações da empresa -->
        <div class="footer-logo" aria-label="Informações da empresa">
          <h3>Revisa Master</h3>
          <img src="./static/images/logo.avif" alt="Logo da Revisa Master" />
          <p>CNPJ: 48.693.442/0001-97</p>
        </div>

        <!-- Logo e informações da empresa - versão mobile -->
        <div class="footer-logo-mobile" aria-label="Informações da empresa">
            <p>CNPJ: 48.693.442/0001-97</p>
            <div>
                <img src="./static/images/logo.avif" alt="Logo da Revisa Master" />
                <h3>Revisa Master</h3>
            </div>
          </div>
    </footer>

    <script src="./static/scripts/menu-toggle.js"></script>
</body>
</html>