<!DOCTYPE html>
<html lang="pt-PT">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Nossos serviços | Revisa Master</title>
    <meta name="description" content="Na Revisa Master, somos especialistas em oferecer serviços de orientação acadêmica e todos os tipos de trabalho acadêmico, como teses, TCC, dissertações...">
    <link rel="icon" href="./static/images/logo.avif" type="image/png">
    <link rel="stylesheet" href="./static/styles/styles-services.css">
    <link rel="stylesheet" href="./static/styles/styles-header.css">
    <link rel="stylesheet" href="./static/styles/styles-footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>

    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WGTC3L3V');
    </script>
    <!-- End Google Tag Manager --> 
    
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGTC3L3V"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <header class="cabecalho">
      <nav class="cabecalho__nav" aria-label="Navegação principal">            
          <div class="cabecalho__nav__logo">
              <img src="./static/images/logo_rm.avif" alt="Logo da empresa">
          </div>
              
          <ul class="cabecalho__nav__links">
              <li><a href="{{ url_for('index') }}">Página inicial</a></li>
              <li><a class="active" href="{{ url_for('services') }}">Nossos serviços</a></li>
              <li><a href="{{ url_for('about') }}">Sobre nós</a></li>
              <li><a href="{{ url_for('faq') }}">Dúvidas</a></li>
              <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
          </ul>
              
          <div class="cabecalho__nav__cta">
              <a href="http://wa.me/5519995392568" class="cta__button" target="_blank">Fale connosco agora</a>
          </div>    
                  
          <!-- Menu Dropdown para Mobile -->
          <div class="cabecalho__nav__dropdown">
              <button class="dropdown__toggle" aria-expanded="false" aria-controls="dropdown__menu">☰</button>
              <ul id="dropdown__menu" class="dropdown__menu">
                <li><a href="{{ url_for('index') }}">Página inicial</a></li>
                <li><a class="active" href="{{ url_for('services') }}">Nossos serviços</a></li>
                <li><a href="{{ url_for('about') }}">Sobre nós</a></li>
                <li><a href="{{ url_for('faq') }}">Dúvidas</a></li>
                <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
              </ul>
          </div>
      </nav>
    </header>

    <main>
      <a 
        href="http://wa.me/5519995392568" 
        class="whatsapp-fixo whatsapp__button__animation" 
        target="_blank">
        <i class="fab fa-whatsapp"></i>
      </a>
      <section class="hero-section">

        <div class="hero-section__container">
          <video autoplay muted loop playsinline id="myVideo">
            <source src="./static/videos/video-services.mp4"
            type="video/mp4">
            </source>
          </video>  

        <div class="hero-section__hero-text">
          <h1>Conquista o teu diploma com a Revisa Master</h1>
        </div>
      </div> 
      </section>

      <section class="section-content-2">
        <div class="section-content-2__container">

          <div class="section-content-2__container__text">
            <h2>Orientador Particular</h2>
            <img src="./static/images/white_line.png" alt="Linha branca"/>
            <p>No teu ritmo, ao teu tempo, <br> até à excelência.</p>
            <img id="line_mobile" src="./static/images/white_line.png" alt="Linha branca"/>
          </div>
          <div class="section-content-2__container__list">
            <ul>
              <li>Recebe <strong>artigos atuais e direcionados</strong>  para o teu trabalho</li>
              <li>Tem sempre o teu <strong>orientador disponível</strong> para <strong>dúvidas</strong></li>
              <li>Cumpre <strong>os objetivos</strong> e pedidos dos teus professores</li>
              <li>Recebe <strong>feedbacks constantes</strong> ao longo do processo</li>
              <li>Garante que o teu <strong>trabalho está formatado</strong> segundo as normas da tua instituição</li>
              <li>Faz a tua <strong>apresentação</strong> com eficiência e <strong>impacto</strong></li>
              <li>Prepara-te para a tua <strong>banca de defesa</strong> preparada</li>
              <li>Ganha <strong>autonomia e confiança</strong></li>
            </ul>
          </div>
        </div>
        <div class="section-content-2__container__button">
          <a class="section-content-2__container__button__cta" href="http://wa.me/5519995392568" target="_blank" role="button" aria-label="Peça seu orçamento">Peça seu orçamento</a>
        </div>
      </section>
  
      <section class="section-content-3">
        <div class="section-content-3__container">

          <div class="section-content-3__container__left-column">

            <div class="section-content-3__container__service-block section-content-3__container__service-block-left-1">
              <h2>Apresentações Visuais</h2>
              <p>
                Produção de <strong>slides, pósteres e banners</strong> que garantem um <strong>design impactante e conteúdo claro</strong>, 
                ajudando-te a destacar-te nas tuas apresentações.
                <strong>Totalmente personalizado</strong> para comunicar as tuas ideias de forma eficaz e visualmente atrativa.
              </p>
            </div>

            <div class="section-content-3__container__service-block section-content-3__container__service-block-left-2">
              <h2>Formatação e Revisão</h2>
              <p>
                <strong>Formatação, revisão ortográfica/gramatical e correção de referências</strong>
                para o teu trabalho académico.
                Asseguramos que o teu texto esteja <strong>perfeitamente alinhado às normas</strong> académicas e livre de erros.
              </p>
            </div>

            <div class="section-content-3__container__service-block section-content-3__container__service-block-left-3">
              <h2>Correção de plágio e IA</h2>
              <p>
                <strong>Identificamos e corrigimos plágio</strong> e inteligência artificial (IA) 
                utilizando ferramentas fiáveis, reescrevendo o conteúdo para garantir 
                <strong>originalidade e conformidade</strong> com padrões éticos e académicos.
                Apresenta <strong>textos autênticos</strong> e de alta qualidade com confiança.
              </p>
            </div>
          </div>

          <div class="section-content-3__container__right-column">

            <div class="section-content-3__container__service-block section-content-3__container__service-block-right-1">
              <h2>Melhoria Textual</h2>
              <p>
                Serviço para <strong>aperfeiçoar a escrita do teu texto</strong>, corrigindo erros gramaticais 
                e ajustando frases para melhorar a clareza e a qualidade geral.
                Cumprimos o <strong>papel de editor</strong>, garantindo que o teu texto seja <strong>claro, coeso e de alta qualidade.</strong>
              </p>
            </div>

            <div class="section-content-3__container__service-block section-content-3__container__service-block-right-2">
              <h2>Tradução</h2>
              <p>
                Tradução de documentos para <strong>Inglês para</strong> o <strong>Português e vice-versa.</strong>
                Garantimos que o teu texto seja fielmente traduzido, mantendo a <strong>qualidade e precisão</strong>, 
                e alinhado com as <strong>normas e expectativas do idioma de destino</strong>.
              </p>
            </div>

            <div class="section-content-3__container__service-block section-content-3__container__service-block-right-3">
              <h2>Análise Textual</h2>
              <p>
                Avaliaremos os seus textos com <strong>precisão</strong>, identificando <strong>erros e pontos a melhorar</strong> 
                em termos de clareza e coesão. O nosso feedback destacará os pontos fortes, abordará as fraquezas e oferecerá 
                <strong>sugestões práticas</strong> para garantir uma comunicação impactante e alinhada ao propósito.
              </p>
            </div>
          </div>
        </div>
          <div class="section-content-3__button button__effect_tag">
            <a class="section-content-3__button__cta" href="http://wa.me/5519995392568" role="button" target="_blank" aria-label="Peça o teu orçamento">Peça o teu orçamento</a>
          </div>
      </section>
  
      <section id="reviews" class="section-content-4">
        <div class="section-content-4__container">
          <div>
            <h2>Seja Master</h2>
          </div>
          <div class="section-content-4__container__reviews">
            <script src="https://static.elfsight.com/platform/platform.js" async></script>
            <div class="elfsight-app-31eb4e2a-df54-4360-8d2c-865eeb2d1271" data-elfsight-app-lazy></div>           
            <a class="section-content-4__container__reviews__button" target="_blank" href="http://wa.me/5519995392568">Fale connosco agora</a>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <!-- Menu de navegação do rodapé -->
      <nav class="footer-menu" aria-label="Menu do rodapé">
        <ul>
          <li><a href="{{ url_for('index') }}">Página inicial</a></li>
          <li><a class="active" href="{{ url_for('services') }}">Nossos serviços</a></li>
          <li><a href="{{ url_for('about') }}">Sobre nós</a></li>
          <li><a href="{{ url_for('faq') }}">Dúvidas frequentes</a></li>
          <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
          <li><a href="{{ url_for('privacy') }}">Política de Privacidade</a></li>
        </ul>
      </nav>
    
      <!-- Informações de contacto -->
      <div class="footer-contact" aria-label="Informações de contacto">
        <div class="social-media">
          <a href="http://wa.me/5519995392568" target="_blank" aria-label="WhatsApp">
            <img src="./static/images/social-media/logo_whatsapp.avif" alt="WhatsApp da Revisa Master" />
          </a>
          <a href="https://www.instagram.com/revisa.master/" aria-label="Instagram">
            <img src="./static/images/social-media/logo_instagram.avif" alt="Instagram da Revisa Master" />
          </a>
          <a href="https://www.linkedin.com/in/gabriela-verruck-de-moraes/" aria-label="LinkedIn">
            <img src="./static/images/social-media/logo_linkedin.avif" alt="LinkedIn da Revisa Master" />
          </a>
        </div>
        <p><strong>WhatsApp:</strong> <a href="http://wa.me/5519995392568" target="_blank" aria-label="Enviar mensagem no WhatsApp">(19) 99539-2568</a></p>
        <p>
          Email de contacto:
          <br>
          <strong><a href="mailto:contacto@revisamaster.pt" aria-label="Enviar email para Revisa Master">contacto@revisamaster.pt</a></strong>
        </p>
      </div>
    
      <!-- Logo e informações da empresa -->
      <div class="footer-logo" aria-label="Informações da empresa">
        <h3>Revisa Master</h3>
        <img src="./static/images/logo.avif" alt="Logo da Revisa Master" />
      </div>

      <!-- Logo e informações da empresa - versão mobile -->
      <div class="footer-logo-mobile" aria-label="Informações da empresa">
          <p>CNPJ: 48.693.442/0001-97</p>
          <div>
              <img src="./static/images/logo.avif" alt="Logo da Revisa Master" />
              <h3>Revisa Master</h3>
          </div>
        </div>
    </footer>

    <script src="./static/scripts/menu-toggle.js"></script>
    <script src="./static/scripts/scripts-services.js"></script>
  </body>
</html>
