@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

/* =========================== */
/* Reset e estilos globais */
/* =========================== */
:root {
  --font-main: 'Questrial', 'sans-serif';
  --font-title: 'Times New Roman', 'serif';
  --color-font: #333;
  --color-font-variation: #f0f0f0;
  
  --color-primary: #0c4467;
  --color-secondary: #1C7290;
  --color-background: #f0f0f0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


.whatsapp-fixo {
  position: fixed;        /* Fixa o elemento na tela */
  font-size: 3rem;
  width: 5rem;            /* Largura do botão */
  height: 5rem;           /* Altura do botão */
  bottom: 2rem;           /* Distância da base da tela */
  right: 4rem;            /* Distância da lateral direita da tela */
  background-color: #1ea750; /* Cor de fundo (verde do WhatsApp) */
  color: #fff;            /* Cor do ícone/fontes */
  border-radius: 50%;     /* Deixa o botão circular */
  display: flex;          /* Para centralizar o ícone dentro do botão */
  align-items: center;    /* Centraliza verticalmente */
  justify-content: center;/* Centraliza horizontalmente */
  box-shadow: 4px 4px 12px var(--color-font); /* Sombras para dar destaque */
  z-index: 1000;          /* Garante que fique por cima de outros elementos */
  text-decoration: none;  /* Remove sublinhado do link */
  transition: all ease-in-out 0.2s;
}

@keyframes whatsapp__button__animation {
  0%, 33%, 66%, 100%{
    transform: translateY(0);
  }

  10%, 80%{
    transform: translateY(10px);
  }

  16%, 50%{
    transform: translateY(15px);
  }
}

.whatsapp__button__animation {
  animation: whatsapp__button__animation ease-in-out 4s infinite;
}

.whatsapp__button__animation:hover {
  animation: whatsapp__button__animation 2s;
}

.whatsapp-fixo:hover {
  background-color: #20b857; /* Muda a cor no hover */
  
}

@media (max-width: 768px) {
  .whatsapp-fixo {
      font-size: 2rem; /* Ajusta o tamanho do ícone */
      width: 4rem;     /* Ajusta a largura do botão */
      height: 4rem;    /* Ajusta a altura do botão */
      bottom: 2rem;    /* Ajusta a distância da base da tela */
      right: 2rem;     /* Ajusta a distância da lateral direita da tela */
  }
}
/* ========================*/
/* Estilos do Hero Section */
/* ========================*/
.hero-section {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh; /* Altura da janela */
  overflow: hidden;
  background-color: #0c4467;
  z-index: 0;
}

#myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100vh;
  width: 100%;
  height: auto;
  z-index: -1;
  object-fit: cover;
  opacity: 0.6;
}

.hero-section__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1; /* Sobrepõe o vídeo */
}

.hero-section__hero-text {
  display: flex;
  color: var(--color-font-variation);
  z-index: 1; /* Sobrepõe o vídeo */
  box-sizing: border-box;
  font-family: var(--font-title);
  text-transform: uppercase;
}

.hero-section__hero-text h1 {
  display: flex;
  font-size: 5rem;
  font-family: var(--font-title);
  line-height: 1.5;
  text-align: center;
  padding: 10rem;
}

@media (max-width: 768px) {
  .hero-section__hero-text h1 {
    font-size: 3rem;
    padding: 5vw 2vw;
  }
}

/* ==============================*/
/* Estilos da Section Content 2*/
/* ==============================*/

.section-content-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  height: auto;
  z-index: 0;
  background: linear-gradient(180deg, #0c4467 10%, #1C7290 40%, #f0f0f0 100%);
}

.section-content-2__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  z-index: 1;
  height: 60vh;
  width: 100%;
}


.section-content-2__container__text {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  font-family: var(--font-main);
  color: var(--color-font-variation);
  z-index: 1;
}

.section-content-2__container__text img{
  display: flex;
  align-self: center;
  width: 20%;
  height: auto;
}

#line_mobile {
  display: none;
}

.section-content-2__container__text h2 {
  font-size: 2.7rem;
  font-family: var(--font-main);

}

.section-content-2__container__text hr {
  width: 5rem;
  border: 0;
}

.section-content-2__container__text p {
  font-size: 1.5rem;
  font-family: var(--font-main);
}

.section-content-2__container__list {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.section-content-2__container__list ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: var(--font-main);
  font-size: 1.1rem; 
  z-index: 0;
  color: var(--color-font-variation);
  list-style: none;
}

.section-content-2__container__list ul li strong {
  color: var(--color-font-variation);
}

.section-content-2__container__button {
  z-index: 1;
  display: flex;
}

.section-content-2__container__button a {
  background-color: var(--color-primary);
  font-family: var(--font-main);
  color: var(--color-font-variation);
  width: 15rem;
  height: 3rem;
  margin-bottom: 4rem;
  text-align: center;
  align-content: center;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.section-content-2__container__button a:hover {
  background-color: var(--color-secondary);
  font-size: 1.35rem;
}

@media (max-width: 768px) {
 
  .section-content-2 {
    background: linear-gradient(180deg, #0c4467 10%, #1C7290 75%, #f0f0f0 100%);
  }

  .section-content-2__container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
  }


  .section-content-2__container__text {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    padding: 4rem 0;
  }

  #line_mobile {
    display: block;
    align-self: center;
    width: 20%;
    height: auto;
  }

  .section-content-2__container__list ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
    padding-bottom: 4rem;
    text-align: center;
    font-family: var(--font-main);
    font-size: 1.1rem; 
  }

}

/* =============================*/
/* Estilos da Section Content 3 */
/* =============================*/

.section-content-3 {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--color-background);
}

.section-content-3__container {
  position: relative;
  display: flex;
  gap: 10rem;
}

.section-content-3__container__left-column,
.section-content-3__container__right-column {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.section-content-3__container__right-column {
  padding-top: 8rem;
}

.section-content-3__container__service-block h2 {
  color: var(--color-font);
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 2px solid #000;
  font-family: var(--font-main);
}

.section-content-3__container__service-block p {
  color: var(--color-font);
  font-size: 1.1rem;
  padding-top: 1.5rem;
  max-width: 25vw;
  line-height: 1.5rem;
  font-family: var(--font-main);
  text-justify: justify;
}

.section-content-3__container__service-block p strong {
  color: #3d3c38;
}

.section-content-3__button {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-content-3__button__cta {
  background-color: var(--color-primary);
  font-family: var(--font-main);
  color: var(--color-font-variation);
  width: 15rem;
  height: 3rem;
  text-align: center;
  align-content: center;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.section-content-3__button__cta:hover {
  background-color: #207095;
  font-size: 1.35rem;
}

@media (max-width: 768px) {
  .section-content-3__container {
    flex-direction: column;
    gap: 0rem;
    text-align: center;
    margin-top: 0rem;
  }

  .section-content-3__container__service-block p {
    color: var(--color-font);
    font-size: 1.1rem;
    padding-top: 1.5rem;
    width: 70vw;
    }
  

  .section-content-3__container__left-column {
    gap: 4rem;
  }  
  .section-content-3__container__right-column {
    padding-top: 4rem;
    margin-top: 0rem;
    gap: 4rem;
  }

  .section-content-3__container__service-block p {
    max-width: 100%;
    padding-bottom: 5rem;
    border-bottom: #3e3e3e 2px solid;
  }

  .section-content-3__container__service-block h2 {
    border-bottom: 0;
  }

  .section-content-3__container__svg {
    display: none;
  }
}



/* =============================*/
/* Estilos da Section Content 4 */
/* =============================*/

.section-content-4{
  display: flex;
  width: 100%;
  height: auto;
  padding: 4rem;
  background-color: var(--color-primary);
  justify-content: center;
  align-items: center;
}

.section-content-4__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  width: 90%;
  height: 90%;
  gap: 4rem;
}

.section-content-4__container h2{
  font-family: var(--font-main), sans-serif;
  font-size: 4rem;
  color: var(--color-font-variation);
  text-align: center;
}

.section-content-4__container__reviews{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.section-content-4__container__reviews__button {
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 1.25rem;
  color: var(--color-font);
  background-color: var(--color-background);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  z-index: 2;
  width: 15rem;
  height: 3rem;
  box-shadow: 2px 2px 4px #333;
  text-decoration: none;
}

.section-content-4__container__reviews__button:hover{
  background-color: var(--color-secondary);
  color: var(--color-font-variation);
  font-size: 1.35rem;
  font-weight: bold;
  box-shadow: 2px 2px 4px #333;
}


@media (max-width: 768px) {
  .section-content-4__container h2{
    font-size: 3rem;
  }

  .section-content-4__container__reviews__button{
    font-size: 1rem;
    width: 15rem;
    height: 3rem;
  }

  .section-content-4__container__reviews__button:hover{
    background-color: var(--color-secondary);
    color: var(--color-font-variation);
    font-size: 1.1rem;
  }
}