@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* ------ VARIÁVEIS GLOBAIS --------*/

:root {
    --font-main: 'Questrial', 'sans-serif';
    --font-title: 'Times New Roman', 'serif';
    --color-font: #333;
    --color-font-variation: #f0f0f0;
    
    --color-primary: #0c4467;
    --color-secondary: #1C7290;
    --color-background: #f0f0f0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Keyframes with opacity included */
@keyframes left__to__right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right__to__left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade__in {
  0% {
    opacity: 0.5;
    transform: scale(0.8) ;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes button__effect {
  20% {
    transform: translateY(40px);
    transform: scale(1.1) ;
  }

  50% {
    transform: translateY(-20px);
    transform: scale(0.9);
  }

  100%{
    transform: translateY(0);
    transform: scale(1);
  } 
}

.left__to__right {
  animation: left__to__right 1.5s ease-in-out forwards;
}
.right__to__left {
  animation: right__to__left 1.5s forwards;
}
.fade__in {
  animation: fade__in 1s ease-out forwards;
}
.button__effect{
  animation: button__effect 2s ease-out forwards;
}


.whatsapp-fixo {
  position: fixed;        /* Fixa o elemento na tela */
  font-size: 3rem;
  width: 5rem;            /* Largura do botão */
  height: 5rem;           /* Altura do botão */
  bottom: 2rem;           /* Distância da base da tela */
  right: 4rem;            /* Distância da lateral direita da tela */
  background-color: #1ea750; /* Cor de fundo (verde do WhatsApp) */
  color: #fff;            /* Cor do ícone/fontes */
  border-radius: 50%;     /* Deixa o botão circular */
  display: flex;          /* Para centralizar o ícone dentro do botão */
  align-items: center;    /* Centraliza verticalmente */
  justify-content: center;/* Centraliza horizontalmente */
  box-shadow: 4px 4px 12px var(--color-font); /* Sombras para dar destaque */
  z-index: 1000;          /* Garante que fique por cima de outros elementos */
  text-decoration: none;  /* Remove sublinhado do link */
  transition: all ease-in-out 0.2s;
}

@keyframes whatsapp__button__animation {
  0%, 33%, 66%, 100%{
    transform: translateY(0);
  }

  10%, 80%{
    transform: translateY(10px);
  }

  16%, 50%{
    transform: translateY(15px);
  }
}

.whatsapp__button__animation {
  animation: whatsapp__button__animation ease-in-out 4s infinite;
}

.whatsapp__button__animation:hover {
  animation: whatsapp__button__animation 2s;
}

.whatsapp-fixo:hover {
  background-color: #20b857; /* Muda a cor no hover */
  
}

@media (max-width: 768px) {
  .whatsapp-fixo {
      font-size: 2rem; /* Ajusta o tamanho do ícone */
      width: 4rem;     /* Ajusta a largura do botão */
      height: 4rem;    /* Ajusta a altura do botão */
      bottom: 2rem;    /* Ajusta a distância da base da tela */
      right: 2rem;     /* Ajusta a distância da lateral direita da tela */
  }
}

main {
    background-color: var(--color-background);
}

.hero-section-about {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    background-color: var(--color-primary);
}

.hero-section-about__video {
    position: absolute;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    z-index: 0;
    opacity: 0.5;
}   

.hero-section-about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: var(--color-font-variation);
    z-index: 1;
}

.hero-section-about__content h1 {
    font-size: 6rem;
    font-family: var(--font-title);
    text-transform: uppercase;
    text-shadow: 4px 4px 8px var(--color-font);
    text-align: center;
}

.content-about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 4rem;
  width: 100%;

}

.content-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    color: var(--color-font);
    background-color: var(--color-background);
    gap: 2rem;
}

.content-about:nth-child(4){
    text-align: left;
}

.content-about h1 {
    text-transform: uppercase;
    font-size: 5.5rem;
    font-family: var(--font-title);
    color: var(--color-font);
    background: linear-gradient(50deg, #333, #0c4467, #1C7290);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-about p, .content-about ul {
    font-size: 1.25rem;
    font-family: var(--font-main);
    width: 70%;
    text-align: center;
}

.content-about ul {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1rem;
}

.content-about p strong {
    font-weight: bold;
}

.content-about-container__button a {
  display: block;
  background-color: var(--color-primary);
  font-size: 1.25rem;
  color: var(--color-font-variation);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 15rem;
  height: 3rem;
  box-shadow: 2px 2px 4px #333;
  z-index: 1;
  align-content: center;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
  text-align: center;
}

.content-about-container__button a:hover {
  background-color: var(--color-secondary);
  font-size: 1.30rem;
  border-radius: 0%;
  transition: all ease-in-out 0.2s;
}
/* ------ RESPONSIVIDADE --------*/
@media (max-width: 1024px) {
    .hero-section-about__content h1 {
      font-size: 5rem;
    }
  
    .content-about-container {
      padding: 2rem;
      gap: 2rem;
    }
    .content-about{
      width: 100%;
    }
    .content-about h1 {
      font-size: 6rem;
    }
  
    .content-about p,
    .content-about ul {
      font-size: 1.3rem;
      padding: 0;
    }
  }
  
  @media (max-width: 768px) {
  
    .hero-section-about__content h1 {
        font-size: 4rem;
    }

    .content-about h1 {
      font-size: 4rem;
    }
  
    .content-about p,
    .content-about ul {
      font-size: 1.2rem;
      padding: 0rem;
    }
  }
  
  @media (max-width: 480px) {
    .hero-section-about__content h1 {
      font-size: 3rem;
    }
  
    .content-about h1 {
      font-size: 4rem;
    }
  
    .content-about p,
    .content-about ul {
      font-size: 1.1rem;
      padding: 0rem;
    }
  }








/* main: Estilizar o elemento <main>.
.hero-section-about: Estilizar a seção principal de introdução.
.hero-section-about video: Estilizar o elemento <video> dentro da seção.
.hero-section-about source: Estilizar o elemento <source> dentro do vídeo.
.hero-section-about__content: Estilizar o contêiner do conteúdo dentro da seção "hero".
.hero-section-about__content h1: Estilizar o título <h1> dentro do contêiner de conteúdo.
.content-about: Estilizar todas as seções com a classe "content-about".
.content-about h1: Estilizar os títulos <h1> dentro das seções "content-about".
.content-about p: Estilizar os parágrafos <p> dentro das seções "content-about".
.content-about p strong: Estilizar o texto em negrito <strong> dentro dos parágrafos nas seções "content-about". */