@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* ------ VARIÁVEIS GLOBAIS --------*/

:root {
    --font-main: 'Questrial', 'sans-serif';
    --font-title: 'Avenir', 'serif';
    --color-font: #333;
    --color-font-variation: #f0f0f0;
    
    --color-primary: #0c4467;
    --color-secondary: #1C7290;
    --color-background: #f0f0f0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: var(--color-background);
}

.whatsapp-fixo {
    position: fixed;        /* Fixa o elemento na tela */
    font-size: 3rem;
    width: 5rem;            /* Largura do botão */
    height: 5rem;           /* Altura do botão */
    bottom: 2rem;           /* Distância da base da tela */
    right: 4rem;            /* Distância da lateral direita da tela */
    background-color: #1ea750; /* Cor de fundo (verde do WhatsApp) */
    color: #fff;            /* Cor do ícone/fontes */
    border-radius: 50%;     /* Deixa o botão circular */
    display: flex;          /* Para centralizar o ícone dentro do botão */
    align-items: center;    /* Centraliza verticalmente */
    justify-content: center;/* Centraliza horizontalmente */
    box-shadow: 4px 4px 12px var(--color-font); /* Sombras para dar destaque */
    z-index: 1000;          /* Garante que fique por cima de outros elementos */
    text-decoration: none;  /* Remove sublinhado do link */
  }
  
  .whatsapp-fixo:hover {
    background-color: #20b857; /* Muda a cor no hover */
  }
  
  @media (max-width: 768px) {
    .whatsapp-fixo {
        font-size: 2rem; /* Ajusta o tamanho do ícone */
        width: 4rem;     /* Ajusta a largura do botão */
        height: 4rem;    /* Ajusta a altura do botão */
        bottom: 2rem;    /* Ajusta a distância da base da tela */
        right: 2rem;     /* Ajusta a distância da lateral direita da tela */
    }
  }
  
/* ========================*/
/* Estilos do Hero Section */
/* ========================*/
.hero-section-privacy {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-color: var(--color-primary);
}

.hero-section-privacy__video {
    position: absolute;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    z-index: 0;
    opacity: 0.6;
}

.hero-section-privacy__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: var(--color-font-variation);
    z-index: 1;
}

.hero-section-privacy__content h1 {
    font-size: 5rem;
    font-family: var(--font-title);
}


/* =============================*/
/* Estilos do Section Content 2 */
/* =============================*/

.section-content-2{
    display: flex;
    flex-direction: column;
    padding: 100px 25%;
    gap: 40px;
}

@media (max-width: 768px) {
    .section-content-2 {
        padding: 50px 15%;
    }
}

h3{
    font-size: 30px;
    margin-bottom: 5px;
}

h5{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
}

p,li{
    font-size: 15px;
}

ul,li{
    margin-left: 1rem;
}

ul{
    margin-bottom: 20px;
}



  