@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* ------ VARIÁVEIS GLOBAIS --------*/

:root {
  --font-main: 'Questrial', 'sans-serif';
  --font-title: 'Times New Roman', 'serif';
  --color-font: #333;
  --color-font-variation: #f0f0f0;
  
  --color-primary: #0c4467;
  --color-secondary: #1C7290;
  --color-background: #f0f0f0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- BODY ---------- */

body {
  font-family: var(--font-main);
  background-color: var(--color-background);
  color: var(--color-font);
}

/* ---------- HERO SECTION ---------- */

  .hero-section {
    position: relative;  /* Para que o vídeo seja posicionado dentro */
    width: 100%;
    height: 100vh;       /* Tela cheia, se quiser */
    margin: 0;
    padding: 0;
    z-index: 0;
    background-color: var(--color-primary);
    opacity: 0.8;
  }
 
  /* Vídeo em posição absoluta ao fundo */
  .hero-section video {
    position: absolute;
    /* Faz o vídeo preencher toda a section */
    width: 100%;
    height: 100vh;
    /* Corte/cubra proporcionalmente sem barras pretas */
    object-fit: cover;
    z-index: -1; /* Fica atrás do texto */
    opacity: 0.6;
    
  }
 
  .overlay {
    position: relative;
    z-index: 1;            /* Fica acima do vídeo */
    display: flex;         /* Duas colunas lado a lado */
    justify-content: center; /* Se quiser espaçar bem as colunas */
    align-items: top;   /* Alinha verticalmente no centro */
    height: 100vh;          /* Ocupa toda a altura da seção */
    color: var(--color-font-variation);           /* Texto branco para melhor contraste */
  }
 
  /* Cada coluna ocupando metade do espaço (ou como quiser) */
  .overlay__left-col, .overlay__right-col {
    flex: 1; /* Faz cada uma ocupar metade do espaço */
  }
 
  /* Ajustes específicos da coluna esquerda */
  
  .overlay__left-col {
    display: flex;
    flex-direction: column; /* Alinha itens verticalmente */
    align-items: center;    /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center;     /* Centraliza o texto */
    gap: 4rem;              /* Espaçamento entre os elementos */
  }
  .overlay__left-col h1 {
    font-size: 5rem;
    margin-top: 0;
    line-height: 2rem;
    font-family: var(--font-title);
    text-shadow: 1px 1px 2px #333;
  }
 
  .overlay__left-col p {
    font-size: 1.5rem;
    font-family: var(--font-main), sans-serif;
    text-shadow: 1px 1px 2px #333;
  }
 
  .overlay__left-col__mobile-button a{
     display: none;
     font-size: 1.25rem;
     color: var(--color-background);
     background-color: var(--color-primary);
     border: none;
     border-radius: 6px;
     padding: 1rem;
     cursor: pointer;
     z-index: 2;
     width: 15rem;
     text-decoration: none;
  }

  .overlay__left-col__mobile-button a:hover {
    background-color: var(--color-secondary);
    color: var(--color-font-variation);
    font-size: 1.35rem;
  }
  /* Ajustes específicos da coluna direita */
 
  .overlay__right-col {
    display: flex;
    flex-direction: column; /* Alinha itens verticalmente */
    align-items: center;    /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: left;     /* Centraliza o texto */
    gap: 4rem;
    margin: 0 auto;         /* Centraliza a coluna */
  }
  .overlay__right-col h1 {
    line-height: 1.5rem;
    text-shadow: 1px 1px 9px #333;
  }
 
  .overlay__right-col p {
    font-size: 1.35rem;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 4px 4px 24px #333;
    padding: 0 4rem;
  }
 
  .overlay__right-col a {
    background-color: var(--color-background);
    font-size: 1.25rem;
    color: var(--color-font);
    border: none;
    cursor: pointer;
    width: 15rem;
    height: 3rem;
    box-shadow: 2px 2px 4px var(--color-font);
    z-index: 1;
    text-align: center;
    align-content: center;
    text-decoration: none;
    border-radius: 6px;
  }
 
  .overlay__right-col a:hover {
    background-color: var(--color-secondary);
    color: var(--color-font-variation);
    font-size: 1.35rem;
    box-shadow: 2px 2px 4px #333;
  }
 
 
 @media (max-width: 768px) {
     .overlay {
         flex-direction: column; /* Colunas empilhadas no mobile */
         justify-content: center; /* Centraliza verticalmente */
         padding: 2rem; /* Espaçamento interno */
     }
 
     .overlay__left-col, .overlay__right-col {
         padding: 1rem; /* Espaçamento interno */
     }
 
     .overlay__left-col h1 {
         font-size: 5rem; /* Ajuste proporcional */
     }
 
     .overlay__left-col p {
         font-size: 1.2rem; /* Ajuste proporcional */
     }
 
     .overlay__right-col {
         display: none;
 }
 
    .overlay__left-col .overlay__left-col__mobile-button a {
         display: block;
     }
 }

 /* ---------- SECTION CONTENT 2 ---------- */

 .section-content-2 {
  position: relative;
  height: 40vh; /* Ajusta dinamicamente a altura */
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  color: var(--color-font-variation);
  padding: 2rem; /* Remove qualquer padding interno */
  text-align: center;
  background-color: var(--color-primary); /* Certifique-se de que a cor é consistente */
  margin: 0; /* Remove margens externas */
}

.section-content-2 h2 {
  white-space: normal;         /* Permite a quebra de linha padrão */
  overflow-wrap: break-word;    /* Quebra palavras muito longas */
 font-size: 2rem;
 line-height: auto;
}

.section-content-2__first-column, .section-content-2__second-column, 
.section-content-2__third-column, .section-content-2__fourth-column {
 flex: 1; /* Faz cada uma ocupar 1/4 do espaço */
 padding: 1rem; /* Espaço interno, se quiser */
 display: flex;
 flex-direction: column; /* Alinha itens verticalmente */
 align-items: center;    /* Centraliza os itens horizontalmente */
 justify-content: center; /* Centraliza verticalmente */
 text-align: center;     /* Centraliza o texto */
 gap: 2rem;              /* Espaçamento entre os elementos */
 margin-right: 0 auto;         /* Centraliza a coluna */
}
.section-content-2__first-column {
 border-right: 1px solid var(--color-background);
}
.section-content-2__second-column {
 border-right: 1px solid var(--color-background);
}
.section-content-2__third-column {
 border-right: 1px solid var(--color-background);
}
.section-content-2__fourth-column{
 
 margin-right: 0px;
}

.section-content-2__fourth-column a{
display: none;
font-size: 1.25rem;
color: var(--color-primary);
background-color: var(--color-background);
border: none;
border-radius: 6px;
padding: 1rem;
cursor: pointer;
z-index: 2;
width: 15rem;
text-decoration: none;
}

.section-content-2__fourth-column a:hover {
background-color: var(--color-secondary);
color: var(--color-font-variation);
font-size: 1.35rem;
}

.section-content-2-polygon {
  position: relative;
  display: flex;
  text-align: center;
  height: 10vh;
  width: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 50% calc(100% - 1px));
  background-color: var(--color-primary); /* Certifique-se de que é igual à seção anterior */
  margin: 0; /* Remove margens externas */
  padding: 0; /* Remove padding interno */
  border-top: none; /* Garante que não há borda no topo */
}

@media (max-width: 768px) {
 .section-content-2 {
     flex-direction: column; /* Colunas empilhadas no mobile */
     justify-content: center; /* Centraliza verticalmente */
     align-items: center; /* Centraliza horizontalmente */
     gap: 2rem; /* Espaçamento entre as colunas */
     height: auto; /* Altura dinâmica */
     padding: 0 2rem;
 }

 .section-content-2__first-column{
      padding-top: 4rem;
      padding-bottom: 1rem;
      border-right: none;
      border-bottom: 1px solid var(--color-background);
    }

 .section-content-2__second-column, 
 .section-content-2__third-column {
     padding: 1rem; /* Espaçamento interno */
     padding-bottom: 2rem;
     border-right: none;
     border-bottom: 1px solid var(--color-background);
 }

 .section-content-2__fourth-column {
     padding: 0rem; /* Espaçamento interno */
     padding-bottom: 2rem;
     padding-top: 1rem;
     border-right: none;
     margin-bottom: 0;
 }

 .section-content-2__fourth-column p{
          margin-bottom: 2rem;
 }

 .section-content-2__fourth-column a {
     display: block;
 }

 .section-content-2__first-column h2, .section-content-2__second-column h2, .section-content-2__third-column h2, .section-content-2__fourth-column h2 {
     font-size: 1.5rem; /* Ajuste proporcional */
 }
}

 /* ---------- SECTION CONTENT 3 ---------- */

 .section-content-3 {
  display: flex;
  flex-direction: column;
  color: var(--color-font);         /* Letra branca para melhor contraste */
  padding: 0rem;     /* Espaçamento interno */
  text-align: center;  /* Centraliza o texto */
  align-items: center;
  line-height: auto;
  background-color: var(--color-background);
  gap: 1rem;
  height: auto;
}

.section-content-3 h2 {
  white-space: normal;         /* Permite a quebra de linha padrão */
  overflow-wrap: break-word;    /* Quebra palavras muito longas */
  font-size: 5rem;
  margin-top: 0px;
  line-height: auto;
  padding-top: 2rem;
  padding-bottom: 0;
}


.section-content-3__container__urgente {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.section-content-3__container__urgente h3 {
   font-size: 5rem;
   color: #ff4040;
   padding: 0rem;
   padding-bottom: 3rem;
 }

/*texto para todos os svgs*/
.svg.desktop{
   width: 80vw; /* Ocupará 100% do contêiner pai */
   height: auto; /* Mantém a proporção original */
   margin-bottom: 0px;
}

svg text {
   font-family: var(--font-main), sans-serif;
   font-size: 1rem;
 }

.svg.mobile{
   display: none;
   width: 100vw; /* Ocupará 100% do contêiner pai */
   justify-content: center;
   align-items: center;
  }

  @media (max-width: 1385px){
    .section-content-3 h2{
      font-size: 4.5rem;
    }
    .section-content-3 h3{
      font-size: 4rem;
    }
  }  


@media (max-width: 805px) {
  .section-content-3{
    height:auto;
  } 
  .section-content-3 h2{
       font-size: 3.5rem;
       padding: 1rem;
       padding-bottom: 0;
       text-align: center;
   }


   .section-content-3__container__urgente h3 {
       font-size: 4.5rem;
       line-height: 1rem;
       padding: 4rem 0rem;
   }
   .svg.desktop {
   display: none;
   }
   
   .svg.mobile{
   display: block;
   }

   svg text {
       font-size: 1.25rem;
   }
}

@media (max-width: 650px) {

.section-content-3 h2{
   font-size: 3.5rem;
}

.section-content-3__container__urgente h3 {
    font-size: 4rem;
    padding: 2rem 0;
}

svg text {
  font-size: 1.15rem;
}
}

@media (max-width: 650px){
  .section-content-3 h2{
    font-size: 3rem;
  }
  .section-content-3__container__urgente h3 {
    font-size: 3.5rem;
  }
}
 /* ---------- SECTION CONTENT 4 ---------- */

 .section-content-4 {
  display: flex;
  flex-direction: column;
  color: var(--color-font-variation);         
  text-align: center;
  align-items: center;  
  line-height: 1.5; /* Linha ajustada para boa legibilidade */
  width: 100%;
  height: 45vh; /* Ajusta dinamicamente a altura */ 
  background-color: var(--color-primary); 
  opacity: 1;
  gap: 2rem;
}  

.section-content-4__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 90%;
  height: 90%;
}

.section-content-4__container__svg{
  position: absolute;
}
.section-content-4__container__svg line {
  stroke: var(--color-background);
  stroke-width: 1;
}

.section-content-4 h2 {
  display: flex;
  font-size: 3rem;
  color: var(--color-font-variation);
}

.section-content-4 a{
font-size: 1.25rem;
color: var(--color-font);
background-color: var(--color-background);
border: none;
border-radius: 6px;
cursor: pointer;
z-index: 2;
width: 15rem;
height: 3rem;
box-shadow: 2px 2px 4px #333;
text-align: center;
align-content: center;
text-decoration: none;
}

.section-content-4 a:hover {
  background-color: var(--color-secondary);
  color: var(--color-font-variation);
  font-size: 1.35rem;
  box-shadow: 2px 2px 4px #333;
}      

@media (max-width: 768px) {
  .section-content-4 {
      height: 40vh; /* Altura dinâmica */
  }

  .section-content-4 h2 {
      font-size: 2rem; /* Ajuste proporcional */
      line-height: 1rem;
  }

  .section-content-4 a {
      display: block;
      font-size: 1.25rem;
      width: 15rem;
      height: 3rem;
  }

  .section-content-4__container__svg line{
    display: none;
  }
}

 /* ---------- SECTION CONTENT 5 ---------- */

 .section-content-5 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto; /* Ajusta dinamicamente a altura */
  color: var(--color-font);         /* Letra branca para melhor contraste */
  background-color: var(--background-color);
  gap: 0rem;
  margin-bottom: 2rem;
  max-width: 100%;
}

.container-content-5{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
}

.container-content-5 .block{
  display: flex; /* Ativa Flexbox */
  flex-direction: column; /* Alinha os elementos verticalmente */
  justify-content: start; /* Centraliza verticalmente */
  align-content: flex-start; /* Centraliza horizontalmente */
  flex: 1 1 calc(33.333% - 2rem); /* Tamanho flexível */
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  height: 100vh;
  padding: 0 6rem;
  gap: 2rem;
  margin-bottom: 2rem;
}

.section-content-5 h2 {
  font-size: 4rem;
  text-align: center;              /* Espaçamento entre os elementos */
  padding: 4rem 0;
}

.container-content-5 h3 {
  font-size: 8rem;
  line-height: 8rem; /* Tamanho consistente com a altura */
  text-align: start; /* Alinha texto */
  font-weight: bold;
  margin: 0; /* Remove margem padrão */
  background: linear-gradient(90deg, var(--color-primary), var(--color-background));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-content-5 p {
  font-size: 1.1rem;
  text-align: center;  
  padding: 0 2rem 1rem 2rem;            /* Espaçamento entre os elementos */
}

.section-content-5 a {
  display: block;
  background-color: var(--color-primary);
  font-size: 1.25rem;
  color: var(--color-font-variation);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 15rem;
  height: 3rem;
  box-shadow: 2px 2px 4px #333;
  z-index: 1;
  align-content: center;
  text-decoration: none;
}

.section-content-5 a:hover {
  background-color: var(--color-secondary);
  font-size: 1.35rem;
}

.svg-content-section-5{
  position: absolute;
}

.svg-content-section-5{
  stroke: var(--color-font);
  stroke-width: 1;
  z-index: -1;
}

@media (max-width: 1730px){
  .svg-content-section-5 line{
    display: none;
  }

  .container-content-5 .block{
    padding: 2rem;
    height: 50vh;
    width: 100%;
  }
}

@media (max-width: 843px) {
  .section-content-5 h2{
      font-size: 2.5rem;
      line-height: auto;
      margin: 0;
  }

  .svg-content-section-5{
    display: none;
  }

  .svg-content-section-5 line {
    display: none;
  }

  .container-content-5{
    gap: 0;
  }
  .container-content-5 .block{
    padding: 2rem;
    height: 20vh;
    width: 100%;
  }

  .container-content-5{
    flex-direction: column;
    width: 80%;
  }

  .container-content-5 h3 {
    font-size: 6rem;
    line-height: auto; /* Tamanho consistente com a altura */
    text-align: center; /* Alinha texto */
  }
}

 /* ---------- SECTION CONTENT 6 ---------- */

 .section-content-6{
  display: flex;
  width: 100;
  height: auto;
  padding: 4rem;
  background-color: var(--color-primary);
  justify-content: center;
  align-items: center;
}

.section-content-6__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  width: 90%;
  height: 90%;
  gap: 4rem;
}

.section-content-6__container h2{
  font-family: var(--font-main), sans-serif;
  font-size: 4rem;
  color: var(--color-font-variation);
  text-align: center;
}

.section-content-6__container__reviews{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.section-content-6__container__reviews__button {
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 1.25rem;
  color: var(--color-font);
  background-color: var(--color-background);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  z-index: 2;
  width: 15rem;
  height: 3rem;
  box-shadow: 2px 2px 4px #333;
  text-decoration: none;
}

.section-content-6__container__reviews__button:hover{
  background-color: var(--color-secondary);
  color: var(--color-font-variation);
  font-size: 1.35rem;
  box-shadow: 2px 2px 4px #333;
}


@media (max-width: 768px) {
  .section-content-6__container h2{
    font-size: 3rem;
  }

  .section-content-6__container__reviews__button{
    font-size: 1rem;
    width: 15rem;
    height: 3rem;
  }

  .section-content-6__container__reviews__button:hover{
    background-color: var(--color-secondary);
    color: var(--color-font-variation);
    font-size: 1.35rem;
  }
}
