@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* ------ VARIÁVEIS GLOBAIS --------*/
:root {
    --font-main: 'Questrial', sans-serif;
    --font-title: 'Times New Roman', serif;
    --color-font: #333;
    --color-font-variation: #f0f0f0;
    --color-primary: #0c4467;
    --color-secondary: #1C7290;
    --color-background: #f0f0f0;
    --transition-speed: 0.3s;
}


/* ------ RESET GLOBAL --------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------ HEADER --------*/
.cabecalho {
  background: var(--color-background);
  padding: 1rem 2rem;
  font-family: var(--font-main);
}

.cabecalho__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.cabecalho__nav__logo img {
  max-height: 80px;
  width: auto;
}

.cabecalho__nav__links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.cabecalho__nav__links li a {
  text-decoration: none;
  color: var(--color-font);
  font-weight: 500;
  transition: color 0.3s ease;
}

.cabecalho__nav__links li a:hover,
.cabecalho__nav__links li a.active {
  color: var(--color-secondary);
}

.cabecalho__nav__cta .cta__button {
  display: flex;
  background-color: var(--color-primary);
  color: var(--color-font-variation);
  padding: 1rem 3rem;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  white-space: nowrap; 
  cursor: pointer;
  font-size: 1rem;
}

.cabecalho__nav__cta .cta__button:hover {
  background-color: var(--color-secondary);
  border-radius: 0%;
}

/* Estilos para o dropdown (mobile) */
.cabecalho__nav__dropdown {
  display: none;
}

.dropdown__toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
}

.dropdown__menu {
  display: none;
  position: absolute;
  background-color: var(--color-background);
  box-shadow: 2px 2px 2px var(--color-font);
  padding: 2rem;
  flex-direction: column;
  z-index: 3;
  left: 0;
  width: 100%;
  text-align: center;
}

.dropdown__menu li {
  list-style: none;
  margin-bottom: 2rem;
}

.dropdown__menu li:last-child {
  margin-bottom: 0.5rem;
}


.dropdown__menu li a {
  text-decoration: none;
  color: var(--color-font);
  font-weight: 500;
  transition: color 0.3s ease;
}

.dropdown__menu li a:hover,
.dropdown__menu li a.active {
  color: var(--color-secondary);
}

.dropdown__toggle[aria-expanded="true"] + .dropdown__menu {
  display: block;
}

/* Responsividade */
@media (max-width: 1024px) {
  /* Telas médias (tablet) */
  .cabecalho__nav__links {
      gap: 1rem; 
  }

  .cabecalho__nav__links li a {
      font-size: 0.9rem;
  }

  .cabecalho__nav__cta .cta__button {
      padding: 0.8rem 1rem;
      font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  /* Telas pequenas (mobile) */
  .cabecalho__nav__links {
      display: none;
  }

  .cabecalho__nav__dropdown {
      display: block; 
  }

  .cabecalho__nav__cta {
      display: none; 
  }
}

