@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* ------ VARIÁVEIS GLOBAIS --------*/

:root {
  --font-main: 'Questrial', 'sans-serif';
  --font-title: 'Times New Roman', 'serif';
  --color-font: #333;
  --color-font-variation: #f0f0f0;
  
  --color-primary: #0c4467;
  --color-secondary: #1C7290;
  --color-background: #f0f0f0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- BODY ---------- */

body {
  font-family: var(--font-main);
  background-color: var(--color-background);
  color: var(--color-font);
}

/* ---------- HEADER ---------- */

.cabecalho{
  display: flex;
  justify-content: center;
  height: 20%;
  background-color: var(--color-background);
  width: 100%;
  margin: 0 auto; /* Centraliza o cabeçalho */
}

.cabecalho__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 10rem
  }


.cabecalho__nav__logo {
  padding: 1rem 2rem;
}

.cabecalho__nav__links{
    display: flex;
    flex: 1;
    padding: auto;
    gap: 2rem;
}

.cabecalho__nav__links a {  
  font-size: 1rem;
  font-family: var(--font-main);
  color: var(--color-font);
  text-decoration: none;
}

.cabecalho__nav__links a:hover {
  color: var(--color-primary);
}

.cabecalho__nav__button{
    padding: 1rem 2rem;
}

.cabecalho__nav__button a {
  color: var(--color-font-variation);
  background-color: var(--color-primary);
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
  font-family: var(--font-main);
  cursor: pointer;
  box-shadow: 1px 1px 2px var(--color-primary);
  padding: 1rem 3rem;
  display: inline-block;
  
}

.cabecalho__nav__button a:hover {
  background-color: var(--color-secondary);
  font-size: 1.1rem;
  font-weight: bold;
}

.dropdown button {
    display: none; /* Oculta o menu dropdown */
    border: none;
    cursor: pointer;
    padding: 1rem;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: var(--color-background);
    box-shadow: 2px 2px 2px #333;
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
    z-index: 10;
}

.dropdown .content a {
    display: block;
    color: var(--color-font);
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 0rem;
}

.dropdown .content a:hover {
    color: var(--color-secondary);
}

.dropdown .content.active {
    display: flex;
}

/* Breakpoint para Mobile */
@media (max-width: 768px) {
    header {
        flex-direction: row; /* Elementos em linha no mobile */
        justify-content: space-between; /* Espaça os elementos principais */
        align-items: center;
        padding: 1rem;
    }

    .cabecalho .logo img {
        flex: 1; /* Ocupa espaço proporcional */
    }

    .dropdown button {
        display: block; /* Exibe o botão toggle no mobile */
    }

    .button {
        flex: 1;
        display: none;
        justify-content: flex-end; /* Alinha o botão ao lado direito */
    }

    nav {
        display: none; /* Oculta o menu principal no mobile */
    }

    .dropdown .content {
        display: none; /* Esconde o dropdown por padrão */
    }

    .dropdown .content.active {
        display: flex; /* Mostra o dropdown quando ativo */
        flex-direction: column;
        gap: 1rem;
    }
}

/* ---------- HERO SECTION ---------- */

  .hero-section {
    position: relative;  /* Para que o vídeo seja posicionado dentro */
    width: 100%;
    height: 100vh;       /* Tela cheia, se quiser */
    margin: 0;
    padding: 0;
    z-index: 0;
    background-color: var(--color-primary);
    opacity: 0.8;
  }
 
  /* Vídeo em posição absoluta ao fundo */
  .hero-section video {
    position: absolute;
    /* Faz o vídeo preencher toda a section */
    width: 100%;
    height: 100vh;
    /* Corte/cubra proporcionalmente sem barras pretas */
    object-fit: cover;
    z-index: -1; /* Fica atrás do texto */
    opacity: 0.8;
    
  }
 
  .overlay {
    position: relative;
    z-index: 1;            /* Fica acima do vídeo */
    display: flex;         /* Duas colunas lado a lado */
    justify-content: center; /* Se quiser espaçar bem as colunas */
    align-items: top;   /* Alinha verticalmente no centro */
    height: 100vh;          /* Ocupa toda a altura da seção */
    color: var(--color-font-variation);           /* Texto branco para melhor contraste */
  }
 
  /* Cada coluna ocupando metade do espaço (ou como quiser) */
  .overlay__left-col, .overlay__right-col {
    flex: 1; /* Faz cada uma ocupar metade do espaço */
  }
 
  /* Ajustes específicos da coluna esquerda */
  
  .overlay__left-col {
    display: flex;
    flex-direction: column; /* Alinha itens verticalmente */
    align-items: center;    /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center;     /* Centraliza o texto */
    gap: 4rem;              /* Espaçamento entre os elementos */
  }
  .overlay__left-col h1 {
    font-size: 5rem;
    margin-top: 0;
    line-height: 2rem;
    font-family: var(--font-title);
  }
 
  .overlay__left-col p {
    font-size: 1.5rem;
    font-family: var(--font-main), sans-serif;
  }
 
  .overlay__left-col__mobile-button a{
     display: none;
     font-size: 1.5rem;
     color: var(--color-background);
     background-color: var(--color-primary);
     border: none;
     border-radius: 6px;
     padding: 1rem;
     cursor: pointer;
     z-index: 2;
     width: 15rem;
     text-decoration: none;
  }

  .overlay__left-col__mobile-button a:hover {
    background-color: var(--color-secondary);
    color: var(--color-font-variation);
    font-size: 1.6rem;
    font-weight: bold;
  }
  /* Ajustes específicos da coluna direita */
 
  .overlay__right-col {
    display: flex;
    flex-direction: column; /* Alinha itens verticalmente */
    align-items: center;    /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: left;     /* Centraliza o texto */
    gap: 4rem;
    margin: 0 auto;         /* Centraliza a coluna */
  }
  .overlay__right-col h1 {
    line-height: 1.5rem;
  }
 
  .overlay__right-col p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 8px #333;
    padding: 0 4rem;
  }
 
  .overlay__right-col a {
    background-color: var(--color-background);
    font-size: 1rem;
    color: var(--color-font);
    border: none;
    cursor: pointer;
    width: 15rem;
    height: 4rem;
    box-shadow: 2px 2px 4px var(--color-font);
    z-index: 1;
    text-align: center;
    align-content: center;
    text-decoration: none;
    border-radius: 6px;
  }
 
  .overlay__right-col a:hover {
    background-color: var(--color-secondary);
    color: var(--color-font-variation);
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 2px 2px 4px #333;
  }
 
 
 @media (max-width: 768px) {
     .overlay {
         flex-direction: column; /* Colunas empilhadas no mobile */
         justify-content: center; /* Centraliza verticalmente */
         padding: 2rem; /* Espaçamento interno */
     }
 
     .overlay__left-col, .overlay__right-col {
         padding: 1rem; /* Espaçamento interno */
     }
 
     .overlay__left-col h1 {
         font-size: 4rem; /* Ajuste proporcional */
     }
 
     .overlay__left-col p {
         font-size: 1.2rem; /* Ajuste proporcional */
     }
 
     .overlay__right-col {
         display: none;
 }
 
    .overlay__left-col .overlay__left-col__mobile-button a {
         display: block;
     }
 }

 /* ---------- SECTION CONTENT 2 ---------- */

 .section-content-2 {
  position: relative;
  height: 40vh; /* Ajusta dinamicamente a altura */
  z-index: 1;
  display: flex;
  color: var(--color-font-variation);
  padding: 0; /* Remove qualquer padding interno */
  text-align: center;
  background-color: var(--color-primary); /* Certifique-se de que a cor é consistente */
  line-height: normal;
  margin: 0; /* Remove margens externas */
}

.section-content-2 h2 {
 font-size: 2rem;
 margin-top: 0px;
 line-height: 2rem;
}

.section-content-2__first-column, .section-content-2__second-column, 
.section-content-2__third-column, .section-content-2__fourth-column {
 flex: 1; /* Faz cada uma ocupar 1/4 do espaço */
 padding: 2rem rem; /* Espaço interno, se quiser */
 display: flex;
 flex-direction: column; /* Alinha itens verticalmente */
 align-items: center;    /* Centraliza os itens horizontalmente */
 justify-content: center; /* Centraliza verticalmente */
 text-align: center;     /* Centraliza o texto */
 gap: 2rem;              /* Espaçamento entre os elementos */
 margin-right: 0 auto;         /* Centraliza a coluna */
}
.section-content-2__first-column {
 border-right: 1px solid var(--color-background);
}
.section-content-2__second-column {
 border-right: 1px solid var(--color-background);
}
.section-content-2__third-column {
 border-right: 1px solid var(--color-background);
}
.section-content-2__fourth-column{
 
 margin-right: 0px;
 padding: 0rem;
}

.section-content-2__fourth-column a{
display: none;
font-size: 1.5rem;
color: var(--color-primary);
background-color: var(--color-background);
border: none;
border-radius: 6px;
padding: 1rem;
cursor: pointer;
z-index: 2;
width: 15rem;
text-decoration: none;
}

.section-content-2__fourth-column a:hover {
background-color: var(--color-secondary);
color: var(--color-font-variation);
font-size: 1.6rem;
font-weight: bold;
}

.section-content-2-polygon {
  position: relative;
  display: flex;
  text-align: center;
  height: 10vh;
  width: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 50% calc(100% - 1px));
  background-color: var(--color-primary); /* Certifique-se de que é igual à seção anterior */
  margin: 0; /* Remove margens externas */
  padding: 0; /* Remove padding interno */
  border-top: none; /* Garante que não há borda no topo */
}

@media (max-width: 768px) {
 .section-content-2 {
     flex-direction: column; /* Colunas empilhadas no mobile */
     justify-content: center; /* Centraliza verticalmente */
     align-items: center; /* Centraliza horizontalmente */
     gap: 2rem; /* Espaçamento entre as colunas */
     height: auto; /* Altura dinâmica */
 }

 .section-content-2__first-column, .section-content-2__second-column, 
 .section-content-2__third-column {
     padding: 1rem; /* Espaçamento interno */
     border-right: none;
     border-bottom: 1px solid var(--color-background);
 }

 .section-content-2__fourth-column {
     padding: 0rem; /* Espaçamento interno */
     border-right: none;
 }

 .section-content-2__fourth-column p{
          margin-bottom: 2rem;
 }

 .section-content-2__fourth-column a {
     display: block;
 }

 .section-content-2__first-column h2, .section-content-2__second-column h2, .section-content-2__third-column h2, .section-content-2__fourth-column h2 {
     font-size: 1.5rem; /* Ajuste proporcional */
     line-height: 0.5rem;
 }
}

 /* ---------- SECTION CONTENT 3 ---------- */

 .section-content-3 {
  margin-bottom: 0px;
  color: var(--color-font);         /* Letra branca para melhor contraste */
  padding: 0 1.5rem;     /* Espaçamento interno */
  text-align: center;  /* Centraliza o texto */
  line-height: auto;
  background-color: var(--color-background);
  justify-content: center;
  align-items: center;
  display: block;
  gap: 4rem;
}

.section-content-3 h2 {
  font-size: 4rem;
  margin-top: 0px;
  line-height: 2rem;
  text-align: center;
  padding: 2rem 0;
}

.section-content-3 h3 {
   font-size: 5rem;
   text-align: center;
   color: #ff4040;
   padding: 4rem 0;

 }

/*texto para todos os svgs*/
.svg.desktop{
   width: 60vw; /* Ocupará 100% do contêiner pai */
   height: auto; /* Mantém a proporção original */
   margin-bottom: 0px;
}

svg text {
   font-family: var(--font-main), sans-serif;
   font-size: 1rem;
 }

.svg.mobile{
   display: none;
   width: 90vw; /* Ocupará 100% do contêiner pai */
   height: auto; /* Mantém a proporção original */
}

@media (max-width: 768px) {
   .section-content-3 h2{
       font-size: 1.5rem;
       line-height: 1rem;
   }

   .section-content-3 h3 {
       margin-top: 0px;
       font-size: 3rem;
       line-height: 1rem;
   }
   .svg.desktop {
   display: none;
   }
   
   .svg.mobile{
   display: block;
   }

   svg text {
       font-size: 2rem;
   }
}

 /* ---------- SECTION CONTENT 4 ---------- */

 .section-content-4 {
  display: flex;
  flex-direction: column;
  color: var(--color-font-variation);         
  padding-top: 2rem; /* Adicionado padding correto para espaçamento */
  text-align: center;
  align-items: center;  
  line-height: 1.5; /* Linha ajustada para boa legibilidade */
  width: 100%;
  height: 40vh; /* Ajusta dinamicamente a altura */ 
  background-color: var(--color-secondary); 
  opacity: 1;
  gap: 2rem;
}  

.section-content-4 h2 {
 font-size: 3rem;
 color: var(--color-font-variation);
}

.section-content-4 a{
display: block;
font-size: 1rem;
color: var(--color-font);
background-color: var(--color-background);
border: none;
border-radius: 6px;
cursor: pointer;
z-index: 2;
width: 20rem;
height: 3rem;
box-shadow: 2px 2px 4px #333;
text-align: center;
align-content: center;
}

.section-content-4 a:hover {
  background-color: var(--color-secondary);
  color: var(--color-font-variation);
  font-size: 1.1rem;
  font-weight: bold;
  box-shadow: 2px 2px 4px #333;
}      

@media (max-width: 768px) {
  .section-content-4 {
      height: 40vh; /* Altura dinâmica */
  }

  .section-content-4 h2 {
      font-size: 2rem; /* Ajuste proporcional */
      line-height: 1rem;
  }

  .section-content-4 a {
      display: block;
      width: 15rem;
      height: 4rem;
  }
}

 /* ---------- SECTION CONTENT 4 ---------- */

