@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.section-content-4 {
    display: flex;
    flex-direction: column;
    color: #f0f0f0;         
    padding-top: 2rem; /* Adicionado padding correto para espaçamento */
    text-align: center;
    align-items: center;  
    line-height: 1.5; /* Linha ajustada para boa legibilidade */
    width: 100%;
    height: 40vh; /* Ajusta dinamicamente a altura */ 
    background-color: #1C7290;
    opacity: 1;
    gap: 2rem;
 }  

 .section-content-4 h2 {
   font-size: 3rem;
   color:#f0f0f0;
 }

 .section-content-4 button{
  display: block;
  font-size: 1rem;
  color: #333;
  background-color: #f0f0f0;
  padding: 1rem 3rem;
  border: none;
  border-radius: 0;
  cursor: pointer;
  z-index: 2;
  width: 20rem;
  height: 3rem;
  box-shadow: 2px 2px 4px #333;
  }
 
 .section-content-4 button:hover {
    background-color: #9CADC5;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 2px 2px 4px #333;
 }      

@media (max-width: 768px) {
    .section-content-4 {
        height: 40vh; /* Altura dinâmica */
    }

    .section-content-4 h2 {
        font-size: 2rem; /* Ajuste proporcional */
        line-height: 1rem;
    }

    .section-content-4 button {
        display: block;
    }
}