@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.section-content-5 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: auto; /* Ajusta dinamicamente a altura */
    color: #333;         /* Letra branca para melhor contraste */
    background-color: #f0f0f0;
    gap: 0rem;
    margin-bottom: 2rem;
  }
  
  .container-content-5{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
  }
  
  .container-content-5 .block{
    margin:auto;
    display: flex; /* Ativa Flexbox */
    flex-direction: column; /* Alinha os elementos verticalmente */
    justify-content: start; /* Centraliza verticalmente */
    align-content: flex-start; /* Centraliza horizontalmente */
    flex: 1 1 calc(33.333% - 2rem); /* Tamanho flexível */
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    height: 70vh;
    padding: 6rem;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .section-content-5 h2 {
    font-size: 4rem;
    line-height: 2rem;
    text-align: center;              /* Espaçamento entre os elementos */
  }
  
  .container-content-5 h3 {
    font-size: 8rem;
    line-height: 8rem; /* Tamanho consistente com a altura */
    text-align: start; /* Alinha texto */
    font-weight: bold;
    margin: 0; /* Remove margem padrão */
    background: linear-gradient(90deg, #0c4467, #9CADC5, #1C7290);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .container-content-5 p {
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;              /* Espaçamento entre os elementos */
  }
  
  .section-content-5 .button{
    display: block;
    background-color: #0c4467;
    font-size: 1rem;
    color: #f0f0f0;
    border: none;
    padding: 1rem 1rem;
    cursor: pointer;
    width: 15rem;
    height: 4rem;
    box-shadow: 2px 2px 4px #333;
    z-index: 2;
    margin: 0 auto;
  }
  
  .svg-content-section-5{
    position: absolute;
  }
  
  .svg-content-section-5 line{
    stroke: #333;
    stroke-width: 1;
  }
  
  @media (max-width: 768px) {
    .section-content-5 h2{
        font-size: 2rem;
        line-height: 1rem;
    }
  
    .svg-content-section-5{
      display: none;
    }
  }