/* ---------- HEADER ---------- */

.cabecalho{
    display: flex;
    justify-content: center;
    height: 20%;
    background-color: var(--color-background);
    width: 100%;
    margin: 0 auto; /* Centraliza o cabeçalho */
  }
  
  .cabecalho__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style-type: none;
      gap: 10rem
    }
  
  
  .cabecalho__nav__logo {
    padding: 1rem 2rem;
  }
  
  .cabecalho__nav__links{
      display: flex;
      flex: 1;
      padding: auto;
      gap: 2rem;
  }
  
  .cabecalho__nav__links a {  
    font-size: 1rem;
    font-family: var(--font-main);
    color: var(--color-font);
    text-decoration: none;
  }
  
  .cabecalho__nav__links a:hover {
    color: var(--color-primary);
  }
  
  .cabecalho__nav__button{
      padding: 1rem 2rem;
  }
  
  .cabecalho__nav__button a {
    color: var(--color-font-variation);
    background-color: var(--color-primary);
    border-radius: 8px;
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-main);
    cursor: pointer;
    box-shadow: 1px 1px 2px var(--color-primary);
    padding: 1rem 3rem;
    display: inline-block;
    
  }
  
  .cabecalho__nav__button a:hover {
    background-color: var(--color-secondary);
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .dropdown button {
      display: none; /* Oculta o menu dropdown */
      border: none;
      cursor: pointer;
      padding: 1rem;
  }
  
  .dropdown .content {
      display: none;
      position: absolute;
      background-color: var(--color-background);
      box-shadow: 2px 2px 2px #333;
      padding: 2rem;
      flex-direction: column;
      gap: 2rem;
      z-index: 10;
  }
  
  .dropdown .content a {
      display: block;
      color: var(--color-font);
      text-decoration: none;
      font-size: 1rem;
      padding: 0.5rem 0rem;
  }
  
  .dropdown .content a:hover {
      color: var(--color-secondary);
  }
  
  .dropdown .content.active {
      display: flex;
  }
  
  /* Breakpoint para Mobile */
  @media (max-width: 768px) {
      header {
          flex-direction: row; /* Elementos em linha no mobile */
          justify-content: space-between; /* Espaça os elementos principais */
          align-items: center;
          padding: 1rem;
      }
  
      .cabecalho .logo img {
          flex: 1; /* Ocupa espaço proporcional */
      }
  
      .dropdown button {
          display: block; /* Exibe o botão toggle no mobile */
      }
  
      .button {
          flex: 1;
          display: none;
          justify-content: flex-end; /* Alinha o botão ao lado direito */
      }
  
      nav {
          display: none; /* Oculta o menu principal no mobile */
      }
  
      .dropdown .content {
          display: none; /* Esconde o dropdown por padrão */
      }
  
      .dropdown .content.active {
          display: flex; /* Mostra o dropdown quando ativo */
          flex-direction: column;
          gap: 1rem;
      }
  }